<style>
  body {background-color: #51a4fb;}
</style>

<div id="comienzoprin" class="text-center">
  <span class="h1 text-gray-800">Bienvenido <strong><%= @nombre.upcase %></strong></span>
  <br>
</div>

<div id="notice_wrapper">
  <% if flash[:notice] %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= flash[:notice] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% elsif flash[:error] %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= flash[:error] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% elsif flash[:success] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= flash[:success] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% end %>
</div>

<% if current_user.role_id == 2 %>
Hay en total <%= @cantclien %> clientes registrados
<br>
Hay en total <%= @cantprove %>  proveedores registrados
<br>
Hoy se ha obtenido un total de <%= @monto %> en ventas
<br>
Se han hecho un total de <%= @numventas %> ventas hoy
<br>
seh na hecho un total de <%= @numcompras %> compras hoy
<br>
Hay un total de <%= @cantproductos %> productos
<% else %>
<%= image_tag("logoinverso.png", :class => "justify-content-center align-items-center w-100") %>
<% end %>
