<form>
     <div class="form-row">
       <div class="form-group col-md-6">
	 <label for="id">Codigo</label>
	 <input type="text" readonly class="form-control-plaintext" value="<%= @paycheck.id %>"> </input>
       </div>
       <div class="form-group col-md-6">
	 <label for="fecha">Nombre</label>
	 <input type="text" readonly class="form-control-plaintext" value="<%= @paycheck.employee.primer_nombre %>"></input>
       </div>
     </div>
     <div class="form-group col-md-6">
       <label for="fecha">Nombres</label>
       <input type="text" readonly class="form-control-plaintext" value="<%= @paycheck.employee.primer_nombre  %>"></input>
     </div>
          <div class="form-group col-md-6">
       <label for="fecha">apellido</label>
       <input type="text" readonly class="form-control-plaintext" value="<%= @paycheck.employee.primer_apellido %>"></input>
     </div>
         <div class="form-group col-md-6">
	   <label for="fecha">periodo</label>
	   <p><%= @paycheck.inicio_nomina %> - <%= @paycheck.fin_nomina %> </p>
	 </div>
	 <div class="form-group col-md-6">
	   <label for="fecha">Asignaciones</label>
	   <p><%= @paycheck.salario_nomina %> </p>
	 </div>
	 <div class="form-group col-md-6">
	   <label for="fecha">Deduccion del 4% del ISLR</label>
	   <p><%= @paycheck.salario_nomina * 0.04 %> </p>
	 </div>
	 <div class="form-group col-md-6">
	   <label for="fecha">Deduccion del 0,5% de regimen prestacional de empleo</label>
	   <p><%= @paycheck.salario_nomina * 0.005 %> </p>
	 </div>
	 <div class="form-group col-md-6">
	   <label for="fecha">Deduccion del 0,1% de FAOV</label>
	   <p><%= @paycheck.salario_nomina * 0.01 %> </p>
	 </div>
	 <div class="form-group col-md-6">
	   <label for="fecha">Deducciones</label>
	   <p><%= (@paycheck.salario_nomina * 0.04) + (@paycheck.salario_nomina * 0.005) + (@paycheck.salario_nomina * 0.01) %> </p>
	 </div>
	 <div class="form-group col-md-6">
	   <label for="fecha">Total</label>
	   <p><%= @paycheck.salario_nomina - ((@paycheck.salario_nomina * 0.04) + (@paycheck.salario_nomina * 0.005) + (@paycheck.salario_nomina * 0.01)) %> </p>
	 </div>

 
</div>
</form>
