<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">ID</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.id %>">
    </div>
</div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">encargado</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.user.username %>">
    </div>
  </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Empleado</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.employee.nombre_apellido %>">
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Periodo</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.periodo %>">
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Tipo de nomina</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.paycheck_type.tipo_nomina_nombre %>">
    </div>
    </div>
    	    <div class="form-group col-md-6">
      <label for="id">Salario mensual</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.salario_nomina %>">
	    </div>
        <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Sueldo por dia de trabajo</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.sueldo_dia %>">
    </div>
	</div>	
	<div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Dias laborados</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.dias_nomina %>">
    </div>
	</div>
	<div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Abonacion en el periodo</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.abonacion %>">
    </div>
	</div>
	<% if @nomina.horas_extra > 0 %>
			<div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Horas extra laboradas:</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.horas_extra %>">
		<div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Monto con las horas extra:</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= ((1.1 * @nomina.horas_extra) * ( @nomina.abonacion)).round(2) %>">
    </div>
    <% end %>
    	<% if @nomina.adelanto_nomina > 0.0 %>
		<div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Adelanto de pago descontado:</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.adelanto_nomina %>">
    </div>
    		<div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Total del pago:</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= (@nomina.abonacion) - @nomina.adelanto_nomina %>">
    </div>
    <% end %>
    	    <div class="form-group col-md-6">
      <label for="id">Deduccion del 4% del S.S.O</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.salario_nomina * 0.04 %>">
	    </div>
	    	    <div class="form-group col-md-6">
      <label for="id">Deduccion del 0,5% de regimen prestacional de empleo</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.salario_nomina * 0.005 %>">
		    </div>
		    	    	    <div class="form-group col-md-6">
      <label for="id">Deduccion del 1% de FAOV</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.salario_nomina * 0.01 %>">
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Total del pago:</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.total_final %>">
    </div>
