<form>
  <div class="row">
    <div class="col">
      <div class="input-group flex-nowrap">
	<label class="input-group-text fw-bold" for="id">ID:</label>
	<input type="text" readonly class="form-control text-center" aria-describedby="id" value="<%= @nomina.id %>">
      </div>
    </div>
    <div class="col">
      <div class="input-group flex-nowrap">
	<label class="input-group-text fw-bold" for="tipnomina">Tipo de nomina:</label>
	<input type="text" readonly class="form-control text-center" aria-describedby="tipnomina" value="<%= @nomina.paycheck_type.tipo_nomina_nombre.upcase %>">
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap">
      <label class="input-group-text fw-bold" for="usuario">Encargado:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="usuario" value="<%= @nomina.user.username.upcase %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap">
      <label class="input-group-text fw-bold" for="empleado">Empleado:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="empleado" value="<%= @nomina.employee.nombre_apellido.upcase %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap">
      <label class="input-group-text fw-bold" for="periodo">Periodo:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="periodo" value="<%= @nomina.periodo %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap">
      <label class="input-group-text fw-bold" for="salariomes">Salario Mensual:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="salariomes" value="Bs <%= @nomina.salario_empleado %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="text-center">
      <p class="h4">Abonaciones</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap w-75">
      <label class="input-group-text fw-bold" for="sueldodia">Sueldo Diario:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="sueldodia" value="Bs <%= (@nomina.salario_empleado / 30).round(2) %>">
    </div>
    <div class="input-group flex-nowrap w-25">
      <label class="input-group-text fw-bold" for="dialabor">Dias:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="dialabor" value="<%= @nomina.dias_nomina %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap">
      <label class="input-group-text fw-bold" for="totaldias">Total por Dias Trabajados:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="totaldias" value="Bs <%= @nomina.salario_nomina %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap">
      <label class="input-group-text fw-bold" for="cesta">Pago Cesta Ticket:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="cesta" value="Bs <%= @nomina.alimento_cesta %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap">
      <label class="input-group-text fw-bold" for="abonado">Total Abonado:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="abonado" value="Bs <%= @nomina.alimento_cesta + @nomina.salario_nomina %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="text-center">
      <p class="h4">Deducciones</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap">
      <label class="input-group-text fw-bold" for="adelanto">Adelanto de Pago:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="adelanto" value="Bs <%= @nomina.adelanto_nomina %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap">
      <label class="input-group-text fw-bold" for="sso">S.S.O (4%)</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="sso" value="Bs <%= @nomina.salario_empleado * 0.04 %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap">
      <label class="input-group-text fw-bold" for="lrpe">R.P.E (0,5%)</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="lrpe" value="Bs <%= @nomina.employee.salario_empleado * 0.005 %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap">
      <label class="input-group-text fw-bold" for="faov">F.A.O.V (1%)</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="faov" value="Bs <%= @nomina.salario_empleado * 0.01 %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group flex-nowrap">
      <label class="input-group-text  fw-bold" for="devengado">Total de Devengado:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="devengado" value="Bs <%= (@nomina.salario_empleado * 0.04) + (@nomina.salario_empleado * 0.005) + (@nomina.salario_empleado * 0.01) + (@nomina.adelanto_nomina) %>">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col text-center">
      <p class="h4 mb-2">Monto a cobrar: Bs <%= (@nomina.salario_nomina + @nomina.alimento_cesta) - ((@nomina.salario_empleado * 0.04) + (@nomina.salario_empleado * 0.005) + (@nomina.salario_empleado * 0.01) + (@nomina.adelanto_nomina)) %></p>
    </div>
  </div>
  <div class="text-center">
    <%= link_to paycheck_path(@nomina, format: :pdf), {class: "btn btn-outline-primary form-control", target: :_blank} do %>
    <span class="fas fa-file-alt" ></span> Generar Recibo de Nomina
    <% end %>
  </div>
</form>

  
