<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Encargado</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.user.username %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">ID</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.id %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Empleado</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.employee.nombre_apellido %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Tipo de nomina</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.paycheck_type.tipo_nomina_nombre %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Periodo</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.periodo %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Salario mensual</label>
      <input type="text" readonly class="form-control-plaintext" value="Bs <%= @nomina.employee.salario_empleado %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Sueldo por dia de trabajo</label>
      <input type="text" readonly class="form-control-plaintext" value="Bs <%= (@nomina.employee.salario_empleado / 30).round(2) %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Dias laborados</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @nomina.dias_nomina %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Total por dias Trabajados</label>
      <input type="text" readonly class="form-control-plaintext" value="Bs <%= @nomina.salario_nomina %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Adelanto de pago</label>
      <input type="text" readonly class="form-control-plaintext" value="Bs <%= @nomina.adelanto_nomina %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Deduccion del 4% del S.S.O</label>
      <input type="text" readonly class="form-control-plaintext" value="Bs <%= @nomina.employee.salario_empleado * 0.04 %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Deduccion del 0,5% de regimen prestacional de empleo</label>
      <input type="text" readonly class="form-control-plaintext" value="Bs <%= @nomina.employee.salario_empleado * 0.005 %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Deduccion del 1% de FAOV</label>
      <input type="text" readonly class="form-control-plaintext" value="Bs <%= @nomina.employee.salario_empleado * 0.01 %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Total de devengado</label>
      <input type="text" readonly class="form-control-plaintext" value="Bs <%= (@nomina.employee.salario_empleado * 0.04) + (@nomina.employee.salario_empleado * 0.005) + (@nomina.employee.salario_empleado * 0.01) %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Monto a cobrar:</label>
      <input type="text" readonly class="form-control-plaintext" value="Bs <%= @nomina.salario_nomina - ((@nomina.employee.salario_empleado * 0.04) + (@nomina.employee.salario_empleado * 0.005) + (@nomina.employee.salario_empleado * 0.01) + @nomina.adelanto_nomina) %>">
    </div>
  </div>
  <div>
    <%= link_to "Generar recibo de nomina", paycheck_path(@nomina, format: :pdf), class: "btn btn-primary", target: :_blank %>
  </div>
</form>

  
