<%= stylesheet_link_tag 'sales' %>
<div class = "row">
  <div class="col-md-6">
    <h3 class="h3 mb-2 text-gray-800">Nomina</h3>
  </div>
    <div class="col-md-6" style="text-align:right;">
    <h2 id="importe_nomina_lbl" > Salario mensual:  $<%= @nomina.salario_nomina %> </h2>
    </div>
    <div class="col-md-6" style="text-align:right;">
    <h2 id="importe_nomina_lb2" > Salario Diario:  $<%= (@nomina.salario_nomina / 30).round(2) %> </h2>
    </div>
    
  <div class="col-md-5">
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#buscador_empleado">
      Buscar empleado
    </button>
  </div>
</div>


  <div class="col-md-7" style="text-align:right;">
    <%= link_to 'Cancelar Nomina', @nomina, method: :delete, data: { confirm: 'Cancelar la nomina?' }, class: "btn btn-danger" %>

  </div>
  <div id="empleado_nomina" class="primer-nombre col-md-3" > 
   <%= @nomina.employee.present? ?  @nomina.employee.try(:primer_nombre) : "No se ha asignado empleado" %>
  </div>
</div>
<br>
<div class="card shadow mb-4">
<div class="card-body">
  <div class="table-responsive">

    <%= form_for @nomina, remote: true  do |f| %>

            <div class="item form-group<%= @nomina.errors[:paycheck_type].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :tiponomina, "Tipo de nomina: " %>
      <div class="input-group">
      <%= f.collection_select(:paycheck_type_id, @tiponomina, :id, :tipo_nomina_nombre, {:prompt => 'Seleccione el tipo de nomina'}, { class: "form-control" })%>
        <%if @nomina.errors[:paycheck_type].any? %>
          <p class="bg-danger"><%= @nomina.errors[:paycheck_type].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
        <div class="item form-group<%= @nomina.errors[:inicio_nomina].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :fecha, "Fecha de inicio: " %>
      <div class="input-group">
        <%= f.date_field :inicio_nomina, {:class=> "form-control", :placeholder=>"Introduzca la fecha de inicio del periodo..."} %> 
      </div>
    </div>
    <div class="item form-group<%= @nomina.errors[:fin_nomina].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :fecha, "Fecha de fin: " %>
      <div class="input-group">
        <%= f.date_field :fin_nomina, {:class=> "form-control", :placeholder=>"Introduzca la fecha de fin del periodo..."} %>       </div>
    </div>
    <div class="item form-group<%= @nomina.errors[:dias_nomina].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :fecha, "Dias laborados: " %>
      <div class="input-group">
        <%= f.number_field :dias_nomina, {:class=> "form-control", :placeholder=>"Introduzca los dias laborados..."} %>       </div>
    </div>
    <div class="item form-group<%= @nomina.errors[:horas_extra].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :fecha, "horas extra: " %>
      <div class="input-group">
        <%= f.number_field :horas_extra, {:class=> "form-control", :placeholder=>"Introduzca las horas extra realizadas..."} %>       </div>
    </div>
    <div class="item form-group<%= @nomina.errors[:adelanto_nomina].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :adelanto, "incluya si se hizo un adelanto de la nomina: " %>
      <div class="input-group">
        <%= f.number_field :adelanto_nomina, {:class=> "form-control", :placeholder=>"monto..."} %>       </div>
    </div>


<%= f.submit "Registrar Nomina", class: "btn btn-success" %>
<% end %>
  
    </div>
  </div>
</div>


<% @model = @nomina %>
<% @tipo = 'paychecks' %>
<%= render 'buscador_empleado' , nomina: @nomina %>
