<style>
  body {background-color: #646e83;}
  .btn-info {color: #fff;}
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {color: #fff; background-color: #00b3db; border-color: #00b3db;}
</style>

<div id="comienzonom" class="text-center">
  <span class="h1 text-gray-800"><i class="far fa-edit"></i> Nominas de Pago <i class="far fa-edit"></i></span>
</div>
<br />

<div class="row">
  <div class="col">
    <%= link_to new_paycheck_path, {class: "btn btn-success form-control", id: "crear-nomina-btn"}  do %>
    <span class="fas fa-plus-square"> </span> Registrar nomina
    <% end %>
  </div>
  <div class="col">
    <%= link_to paychecks_path(request.params.merge(format: :pdf)), {class: "btn btn-outline-dark form-control", target: :_blank} do %>
    <span class="fas fa-file-alt" ></span> Generar Reporte de Nominas
      <% end %>
  </div>
</div>

<div class="row mt-2">
  <%= search_form_for @search, url: search_paychecks_path, html: {method: :post, class: "input-group"} do |f| %>
  <%= f.collection_select(:paycheck_type_id_eq, @tiponomina, :id, :tipo_nomina_nombre, {:include_blank => 'Seleccione el Tipo de Nomina'}, { class: "form-control"}) %>
  <%= f.date_field :inicio_nomina_gteq, class: "form-control", placeholder: "Fecha inicio..." %>
  <%= f.date_field :fin_nomina_lteq, class: "form-control", placeholder: "Fecha fin..." %>
  <%= f.button :type => "submit", class: "btn btn-success" do %>
  <span class="fas fa-search"></span> Buscar
  <% end %>
  <% end %>
</div>
<br>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="col">
      <%= paginate @nominas %>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-bordered" id="tabla_nominas" width="100%" cellspacing="0">
	<thead class="table-dark">
          <tr>
	    <th class="align-middle text-center"><%= sort_link @search, :id, "N#",{ default_order: :desc }, { class: "link-light" }%></th>
	    <th class="align-middle text-center"><%= sort_link @search, :paycheck_type_tipo_nomina_nombre, "Tipo",{ default_order: :desc }, { class: "link-light" }%></th>
	    <th class="align-middle text-center"><%= sort_link @search, :primer_nombre, "Empleado",{ default_order: :desc }, { class: "link-light" }%></th>
	    <th class="align-middle text-center"><%= sort_link @search, :user_username, "Encargado",{ default_order: :desc }, { class: "link-light" }%></th>
	    <th class="align-middle text-center">Periodo</th>
	    <th class="align-middle text-center">Acciones</th>
	  </tr>
	</thead>
	<tbody>
	  <% if @nominas.empty? %>
	  <tr>
	    <td> No hay nominas </td><td></td><td></td>
	  </tr>
          <% else %>
          <% @nominas.each do |pay| %>
	  <tr> 
            <td class="align-middle text-center"> <%= pay.id %> </td>
	    <td class="align-middle text-center"> <%= pay.paycheck_type.tipo_nomina_nombre %> </td>
	    <td class="align-middle text-center"> <%= pay.try(:employee).try(:primer_nombre) %> </td>
	    <td class="align-middle text-center"> <%= pay.user.username %> </td>
	    <td class="align-middle text-center"> <%= pay.try(:periodo) %> </td>
	    <td class="align-middle text-center">
	      <div class="btn-group ">
		<%= link_to ('<i class="fas fa-info-circle"> </i>').html_safe, paycheck_path(pay), {class: "btn btn-info btn-sm", remote: true} %>
		<%= link_to ('<i class="fas fa-window-close"> </i>').html_safe, pay, method: :delete, data: { confirm: 'Eliminar la nomina?' }, class: "btn btn-danger btn-sm" %>
	      </div>
	    </td>
	  </tr>
	  <% end %>
	  <% end %>
	</tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'modal_paychecks' %>
