<h1 class="h3 mb-2 text-gray-800">Nominas de pago</h1>

<%= search_form_for @search, url: search_paychecks_path, html: {method: :post} do |f| %>
<div class="row">
  <div class="col">
    <%= f.date_field :inicio_nomina_gteq, class: "form-control", placeholder: "Fecha de inicio..." %>
  </div>
  <div class="col">
    <%= f.date_field :fin_nomina_lteq, class: "form-control", placeholder: "Fecha fin..." %>
  </div>
  <div class="col">
    <%= f.submit "Buscar", class: "btn btn-success form-control" %>
    <% end %>
  </div>
</div>
<br />

<div class="row">
  <div class="col">
    <%= link_to new_paycheck_path, {class: "btn btn-info form-control", id: "crear-nomina-btn"}  do %>
    <span class="fas fa-plus-square"> </span> Registrar nomina
    <% end %>
  </div>
  <div class="col">
    <%= link_to paychecks_path(request.params.merge(format: :pdf)), {class: "btn btn-primary form-control", target: :_blank} do %>
    <span class="fas fa-file-alt" ></span> Generar reporte de nominas
      <% end %>
  </div>
</div>
<br />

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="tabla_nominas" width="60%" cellspacing="0">
	<thead>
          <tr>
	    <th>Id</th>
	    <th>Periodo</th>
	    <th>Encargado</th>
	    <th>Empleado</th>
	    <th>Fecha Elaboracion</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  <% if @nominas.empty? %>
          <tr>
	    <td> No hay nominas </td><td></td><td></td> 
          </tr>
          <% else %>
            <% @nominas.each do |pay| %>
              <tr> 
                <td> <%= pay.id %> </td>
		<td> <%= pay.try(:periodo) %> </td>
		<td> <%= pay.user.username %> </td>
		<td> <%= pay.try(:employee).try(:primer_nombre) %> </td>
		<td> <%= pay.created_at.to_s(:db) %> </td>
                <td> 
		  <%= link_to 'Mostrar', paycheck_path(pay), {class: "btn btn-info btn-xs", remote: true} %>
		  <%= link_to 'Borrar', pay, method: :delete, data: { confirm: 'Eliminar la nomina?' }, class: "btn btn-danger btn-xs" %>
                </td>
              </tr>
              <% end %>
          <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
<%= render 'modal_paychecks' %>
