<h1 class="h3 mb-2 text-gray-800">Nominas de pago</h1>

<div>  
  <%= link_to new_paycheck_path, { remote: true, class: "btn btn-info" }  do %>
    <span class="fas fa-plus-square" ></span>
  <% end %>
</div>
<br />
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="tablaNominas" width="100%" cellspacing="0">
        <thead>
        <tr>
	    <th>Codigo</th>
            <th>Empleado</th>
            <th>Periodo</th>
            <th>Total</th>
	    <th></th>
        </tr>
        </thead>
        <tbody>
            <% @paychecks.each do |pay| %>
            <tr id="paycheck_<%= pay.id %>" >
	        <td><%= pay.id %></td>
                <td><%= pay.employee.primer_nombre %> <%= pay.employee.primer_apellido %></td>
                <td><%= pay.inicio_nomina %> - <%= pay.fin_nomina %></td>
                <td>$<%= pay.salario_nomina - ((pay.salario_nomina * 0.04) + (pay.salario_nomina * 0.005) + (pay.salario_nomina * 0.01)) %></td>
                <td>
		<%= link_to "Ver", paycheck_path(pay), html_options = {class: "btn btn-info btn-xs", remote: true} %>
                <%= link_to "editar", edit_paycheck_path(pay), html_options = {class: "btn btn-info btn-xs", remote: true} %>
                <%= link_to "Borrar", pay, remote: true, method: :delete, data: { confirm: "Borrar registro: #{pay.id}?"}, class: "btn btn-danger btn-xs" %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>

<%= render 'modal_nominas' %>
