<%= form_for @empleado, remote: true  do |f| %>
   <div class="item form-group<%= @empleado.errors[:numero_cedula].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :cedula, "Cedula del empleado: " %>
      <div class="input-group">
        <%= f.text_field :numero_cedula, {:class=> "form-control", :placeholder=>"Introduzca el numero de cedula..."} %>        
        <%if @empleado.errors[:numero_cedula].any? %>
          <p class="bg-danger"><%= @empleado.errors[:numero_cedula].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
    
    <div class="item form-group<%= @empleado.errors[:primer_nombre].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :nombre, "Primer nombre: " %>
      <div class="input-group">
        <%= f.text_field :primer_nombre, {:class=> "form-control", :placeholder=>"Introduzca el primer nombre..."} %>        
        <%if @empleado.errors[:primer_nombre].any? %>
          <p class="bg-danger"><%= @empleado.errors[:primer_nombre].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
   </div>

       <div class="item form-group<%= @empleado.errors[:segundo_nombre].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :nombre, "Segundo nombre: " %>
      <div class="input-group">
        <%= f.text_field :segundo_nombre, {:class=> "form-control", :placeholder=>"Introduzca el segundo nombre..."} %>        
        <%if @empleado.errors[:segundo_nombre].any? %>
          <p class="bg-danger"><%= @empleado.errors[:segundo_nombre].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @empleado.errors[:primer_apellido].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :apellido, "Primer apellido: " %>
      <div class="input-group">
        <%= f.text_field :primer_apellido, {:class=> "form-control", :placeholder=>"Introduzca el primer apellido..."} %>        
        <%if @empleado.errors[:primer_apellido].any? %>
          <p class="bg-danger"><%= @empleado.errors[:primer_apellido].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
   </div>

       <div class="item form-group<%= @empleado.errors[:segundo_apellido].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :apellido, "Segundo apellido: " %>
      <div class="input-group">
        <%= f.text_field :segundo_apellido, {:class=> "form-control", :placeholder=>"Introduzca el segundo apellido..."} %>        
        <%if @empleado.errors[:segundo_apellido].any? %>
          <p class="bg-danger"><%= @empleado.errors[:segundo_apellido].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @empleado.errors[:fecha_ingreso].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :fecha, "Fecha que ingreso el empleado: " %>
      <div class="input-group">
        <%= f.date_field :fecha_ingreso, {class: "form-control", :placeholder=>"fecha de ingreso..."} %>
        <%if @empleado.errors[:fecha_ingreso].any? %>
          <p class="bg-danger"><%= @empleado.errors[:fecha_ingreso].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @empleado.errors[:salario_empleado].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :precio, "Salario del empleado: " %>
      <div class="input-group">
        <%= f.number_field :salario_empleado, {class: "form-control", :placeholder=>"Salario del empleado..."} %>
        <%if @empleado.errors[:salario_empleado].any? %>
          <p class="bg-danger"><%= @empleado.errors[:salario_empleado].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>


    <div class="item form-group<%= @empleado.errors[:correo_empleado].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :correo, "correo del empleado: " %>
      <div class="input-group">
        <%= f.text_field :correo_empleado, {class: "form-control", :placeholder=>"Correo del empleado..."} %>
        <%if @empleado.errors[:correo_empleado].any? %>
          <p class="bg-danger"><%= @empleado.errors[:correo_empleado].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
   
    <div class="item form-group<%= @empleado.errors[:position].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :cargo, "Cargo: " %>
      <div class="input-group">
      <%= collection_select(:employee, :position_id, @cargos, :id, :nombre_cargo, {:prompt => 'Seleccione cargo'}, { class: "form-control" })%>
        <%if @empleado.errors[:position].any? %>
          <p class="bg-danger"><%= @empleado.errors[:position].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <%= f.submit @empleado.new_record? ? "Registrar empleado" : "Actualizar empleado", :class => "btn btn-success"%>
    </div>

<% end %>
