$('#modalEmpleados').modal('toggle');
$('#tablaEmpleados').append(
    '<tr id="empleado_<%= @empleado.id %>" ><td><%= @empleado.numero_cedula %></td><td><%= @empleado.nombre_apellido %></td><td><%= @empleado.salario_empleado.round(2) %></td><td><%= @empleado.salario_diario %></td><td><%= @empleado.position.nombre_cargo %></td><td><%= link_to "Ver", employee_path(@empleado), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Editar", edit_employee_path(@empleado), html_options = {class: "btn btn-info btn-xs", remote: true} %><%= link_to 'Borrar', @empleado, remote: true, method: :delete, data: { confirm: "Borrar al empleado: #{@empleado.nombre_apellido}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);