$('#modalEmpleados').modal('toggle');
$('#empleado_<%= @empleado.id %>').replaceWith(
    '<tr id="empleado_<%= @empleado.id %>" ><td class="align-middle text-center"><%= @empleado.numero_cedula %></td><td class="align-middle text-center"><%= @empleado.nombre_apellido %></td><td class="align-middle text-center">Bs <%= @empleado.salario_empleado.round(2) %></td><td class="align-middle text-center">Bs <%= @empleado.salario_diario %></td><td class="align-middle text-center"><%= @empleado.position.nombre_cargo %></td><td class="align-middle text-center"><div class="btn-group "><%= link_to "Ver", employee_path(@empleado), html_options = {class: "btn btn-success btn-sm", remote: true} %> <%= link_to "Editar", edit_employee_path(@empleado), html_options = {class: "btn btn-info btn-sm", remote: true} %><%= link_to 'Borrar', @empleado, remote: true, method: :delete, data: { confirm: "Borrar al empleado: #{@empleado.nombre_apellido}?"}, class: "btn btn-danger btn-sm" %></div></td></tr>'
);
