<%= form_for @cargo, remote: true do |f| %>
<div class="item form-group<%= @cargo.errors[:nombre_cargo].any? ? ' has-error has-feedback' : '' %>">
  <%= f.label :nombre_pago, "Nombre: " %>
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping"><i class="fa fa-th-list"></i></span>
    <%= f.text_field :nombre_cargo, {:class=> "form-control", :placeholder=>"Introduzca el Nombre del Cargo...", required: true} %>
    <%if @cargo.errors[:nombre_cargo].any? %>
    <p class="bg-danger"><%= @cargo.errors[:nombre_cargo].to_s[/\w([^"]*)/] %></p>
    <% end %>
  </div>
</div>
<br />

<div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
  <%= f.submit @cargo.new_record? ? "Registrar Cargo" : "Actualizar Cargo", :class => "btn btn-success"%>
</div>  
<% end %>
