<style>
  body {background-color: #608d98;}
</style>

<div id="comienzocar" class="text-center">
  <span class="h1 text-gray-800"><i class="fa fa-th-list"></i> Cargos de Empleados <i class="fa fa-th-list"></i></span>
</div>

<div class="row mt-3">
  <div class="col">
    <%= link_to new_position_path, {remote: true, class: "btn btn-success form-control", id: "anadir-cargo-btn"}  do %>
    <span class="fas fa-plus-square" ></span> Registrar Cargo de Empleado
    <% end %>
  </div>
  <div class="col">
    <%= search_form_for @q, options = {class: "input-group"} do |f| %>
    <%= f.search_field :nombre_cargo_cont, options = {class: "form-control", placeholder: "Buscar..."} %>
    <%= f.button :type => "submit", class: "btn btn-primary" do %>
  <span class="fas fa-search"></span> Buscar
  <% end %>
    <% end %>
  </div>
</div>
<br>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="col mx-auto">
      <%= paginate @cargos, window: 0 %>
    </div>
    <div class="table-responsive">
      <table id="tablaCargos" class="table table-hover table-bordered" width="100%">
	<thead class="table-dark">
	  <tr>
	    <th class="align-middle text-center"><%= sort_link @q, :nombre_cargo, "Cargo",{ default_order: :desc }, { class: "link-light" }%></th>
	    <th class="align-middle text-center">Acciones</th>
	  </tr>
	</thead>
	<tbody>
	  <% @cargos.each do |car| %>
	  <tr id="cargo_<%= car.id %>" >
	    <td class="align-middle text-center"><%= car.nombre_cargo %></td>
	    <td class="align-middle text-center">
	      <div class="btn-group ">
		<%= link_to ('<i class="far fa-edit"> </i>').html_safe, edit_position_path(car), html_options = {class: "btn btn-secondary btn-sm", remote: true} %>
		<%= link_to ('<i class="fas fa-window-close"> </i>').html_safe, car, remote: true, method: :delete, data: { confirm: "Borrar el cargo: #{car.nombre_cargo}?"}, class: "btn btn-danger btn-sm" %>
	      </div>
	    </td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
    </div>
  </div>

</div>
<%= render 'modal_cargos' %>
