   <table class="table table-bordered" id="tablaProductos" width="100%" cellspacing="0">
        <thead>
        <tr>
	    <th>Codigo producto</th>
            <th>Nombre producto</th>
            <th>Existencia</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Unidad</th>
	    <th>Ubicacion</th>
	    <th></th>
        </tr>
        </thead>
        <tbody>
            <% @productos.each do |prod| %>
	        <td><%= prod.codigo_producto %></td>
                <td><%= prod.nombre_producto %></td>
                <td><%= prod.existencia_producto %></td>
                <td>$<%= prod.precio_producto %></td>
                <td><%= prod.category != nil ? prod.category.nombre_categoria : "No tiene categoria" %></td>
                <td><%= prod.unit != nil ? prod.unit.nombre_unidad : "No tiene unidad" %></td>
		<td><%= prod.location != nil ? prod.location.nombre_lugar : "No tiene ubicacion" %></td>
                <td>
                <%= link_to "Mostrar", product_path(prod), html_options = {class: "btn btn-info btn-xs"} %>
                </td>
		<%end%>