<style>
  body {background-color: #96bca4;}
  .btn-info {color: #fff;}
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {color: #fff; background-color: #00b3db; border-color: #00b3db;}
</style>

<div class="text-center">
  <h1 class="text-gray-800">Ventas de este mes</h1>
</div>
<br>

<div class="row">
  <%= search_form_for @q, options = {class: "input-group"} do |f| %>
  <%= f.number_field :numero_venta_eq, class: "form-control", placeholder: "Numero de factura..." %>
  <%= f.button :type => "submit", class: "btn btn-primary" do %>
  <span class="fas fa-search"></span> Buscar
  <% end %>
  <% end %>
</div>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-bordered" id="tabla_ventas" width="100%" cellspacing="0">
	<thead class="table-dark">
	  <tr>
            <th class="align-middle text-center">N# Venta</th>
	    <th class="align-middle text-center">Vendedor</th>
	    <th class="align-middle text-center">Cliente</th>
	    <th class="align-middle text-center">Fecha</th>
	    <th class="align-middle text-center">Total</th>
	    <th class="align-middle text-center">Acciones</th>
	  </tr>
	</thead>
	<tbody>
          <% if @ventas.empty? %>
	  <tr> 
            <td> No hay ventas </td><td></td><td></td> 
          </tr>
          <% else %>
	  <% @ventas.each do |venta| %>
	  <tr> 
            <td class="align-middle text-center"> <%= venta.try(:numero_venta) %> </td>
	    <td class="align-middle text-center"> <%= venta.user.username %> </td>
	    <td class="align-middle text-center"> <%= venta.try(:client).try(:nombre_cliente) %> </td>
	    <td class="align-middle text-center"> <%= venta.created_at.strftime("%d-%m-%Y") %> </td>
	    <td class="align-middle text-center"> Bs <%= venta.total_venta * 1.16%> </td>
            <td class="align-middle text-center">
	      <div class="btn-group ">
		<%= link_to ('<i class="fas fa-info-circle"> </i>').html_safe, sale_path(venta), {class: "btn btn-info btn-sm", remote: true} %>
		<%= link_to ('<i class="fas fa-window-close"> </i>').html_safe, venta, method: :delete, data: { confirm: 'Eliminar la venta?' }, class: "btn btn-danger btn-sm" %>
	      </div>
	    </td>
	  </tr>
	  <% end %>
	  <% end %>
	</tbody>
      </table>
    </div>
  </div>
</div>
<%= link_to sales_path, {class: "btn btn-dark btn-xs"} do %> 
Volver <%end%>
<%= render 'modal_sales' %>
