<style>
body {background-color: #E6BB6E;}
</style>
<i class="fa fa-credit-card"></i><span class="h3 ms-2 me-2 mb-2 text-gray-800">Ventas de esta semana</span><i class="fa fa-credit-card"></i>

<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-striped" id="tabla_ventas" width="60%" cellspacing="0">
        <thead>
        <tr>
			<th class="align-middle text-center">Id</th>
			<th class="align-middle text-center">>Vendedor</th>
			<th class="align-middle text-center">>Cliente</th>
			<th class="align-middle text-center">>Total</th>
			<th></th>
        </tr>
        </thead>
        <tbody>
          <% if @ventas2.empty? %>
          <tr> 
            <td class="text-danger fs-3"> No hay ventas </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td> 
          </tr>
          <% else %>
            <% @ventas2.each do |venta| %>
			<tr> 
				<td class="align-middle text-center"> <%= venta.id %> </td>
				<td class="align-middle text-center"> <%= venta.user.username %> </td>
				<td class="align-middle text-center"> <%= venta.try(:client).try(:nombre_cliente) %> </td>
				<td class="align-middle text-center"> <%= venta.total_venta * 1.16%> </td>
				<td class="align-middle text-center">
					<div class="btn-group ">
					<%= link_to 'Mostrar', sale_path(venta), {class: "btn btn-info btn-xs", remote: true} %>
					<%= link_to 'Borrar', venta, method: :delete, data: { confirm: 'Eliminar la venta?' }, class: "btn btn-danger btn-xs" %>
					</div>
				</td>
			</tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
<%= link_to sales_path, {class: "btn btn-info btn-xs"} do %> 
Volver <%end%>
<%= render 'modal_sales' %>
