<form>
  <div class="row">
    <div class="input-group mb-2">
      <label class="input-group-text" for="id">Numero de compra:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="id" value="<%= @compra.numero_compra %>">
    </div>
    <div class="input-group mb-2">
      <label class="input-group-text" for="fecha">Fecha:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="fecha" value="<%= @compra.created_at.strftime("%d-%m-%Y") %>">
    </div>
    <div class="input-group mb-2">
      <label class="input-group-text" for="almacenista">Encargado:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="almacenista" value="<%= @compra.user.username %>">
    </div>
    <div class="input-group mb-2">
      <label class="input-group-text" for="proveedor">Proveedor:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="proveedor" value="<%= @compra.supplier.nombre_proveedor %>">
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
	<th class="align-middle text-center">Producto</th>
	<th class="align-middle text-center">Cantidad</th>
	<th class="align-middle text-center">Precio</th>
	<th class="align-middle text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      <% @compra.purchase_details.each do |detalle| %>
      <tr>
	<td class="align-middle text-center"><%= detalle.product.nombre_producto %></td>
	<td class="align-middle text-center"><%= detalle.cantidad %></td>
	<td class="align-middle text-center">Bs <%= detalle.precio_detalle_compra %></td>
	<td class="align-middle text-center">Bs <%= detalle.precio_detalle_compra * detalle.cantidad %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="row mb-1">
    <div class="col text-end">
      <p class="h4 mb-1">Sub total de compra: Bs <%= @compra.total_compra %></p>
      <p class="h4 mb-1">16% del IVA: Bs <%= @compra.total_compra * 0.16 %></p>
      <p class="h4 mb-1">Total de compra: Bs <%= @compra.total_compra * 1.16 %></p>
      <br>
    </div>
    <div class="text-center">
      <%= link_to purchase_path(@compra, format: :pdf), {class: "btn btn-outline-primary form-control", target: :_blank} do %>
      <span class="fas fa-file-alt" ></span> Generar Respaldo de documento
      <% end %>
    </div>
  </div>
</form>
