<form>
<div class="row mb-3">
	
		<div class="w-50 input-group col-md-4 mb-1">
			<span class="input-group-text" id="id">ID</span>
			<input type="text" readonly class="form-control text-end"  value="<%= @compra.numero_compra %>">
		</div>
		<div class="w-50 input-group col-md-6 mb-1">
			<span  class="input-group-text" id="fecha">Fecha</span>
			<input type="text" readonly class="form-control" value="<%= @compra.created_at.strftime("%d-%m-%Y") %>">
		</div>
		
		<div class="input-group col-md-6 mb-1">
			<span class="input-group-text" id="almacenista">Almacenista:</span>
			<input type="text" readonly class="form-control" value="<%= @compra.user.username %>">
		</div>
		<div class="input-group col-md-6">
			<span class="input-group-text" id="proveedor">Proveedor:</span>
			<input type="text" readonly class="form-control" value="<%= @compra.supplier.nombre_proveedor %>">
		</div>
	
</div>
 

<table class="table table-striped">
	<thead>
		<tr>
			<th class="align-middle text-center">Producto</th>
			<th class="align-middle text-center">Cantidad</th>
			<th class="align-middle text-center">Precio</th>
			<th class="align-middle text-center">Total</th>
		</tr>
	</thead>
	<tbody>
		<% @compra.purchase_details.each do |detalle| %>
			<tr>
				<td class="align-middle text-center"><%= detalle.product.nombre_producto %></td>
				<td class="align-middle text-center"><%= detalle.cantidad %></td>
				<td class="align-middle text-center">Bs <%= detalle.precio_detalle_compra %></td>
				<td class="align-middle text-center">Bs <%= detalle.precio_detalle_compra * detalle.cantidad %></td>
			</tr>
		<% end %>
	</tbody>
</table>
  
<div class="row mb-2">
	<div class="col text-end">

		<p class="h4 mb-1">Sub total de compra: BS <%= @compra.total_compra %></p>
		<p class="h4 mb-1">16% del IVA: Bs <%= @compra.total_compra * 0.16 %></p>
		<p class="h4 mb-1">Monto Final de la Compra: Bs <%= @compra.total_compra * 1.16 %></p>
		
		
	</div>
</div>
  
  <div class="form-row">
    <%= link_to purchase_path(@compra, format: :pdf), {class: "btn btn-primary", target: :_blank} do %>
    <span class="fas fa-file-alt" ></span> Generar Respaldo de documento
    <% end %>
  </div>
</form>
