<style>
  body {background-color: #ccc5c5;}
</style>
<%= stylesheet_link_tag 'sales' %>

<%= form_for @compra, remote: true  do |f| %>

<h1 class="mb-2 text-gray-800">Registro de Compra</h1>
<br>

<div class="row">
  <div class="col">
    <div class="container">
      <div id="proveedor-compra" class="nombre-proveedor" >
	<h4> Proveedor: <%= @compra.supplier.present? ?  @compra.supplier.try(:nombre_proveedor) : "No se ha asignado" %></h4>
      </div>
	<button type="button" class="btn btn-primary form-control mt-3" data-bs-toggle="modal" data-bs-target="#buscador_proveedor">
	  <span class="fas fa-search"></span> Buscar Proveedor</button>
	<div class="input-group mt-3">
	  <span class="input-group-text" id="addon-wrapping"><i class="fas fa-money-bill-wave-alt"></i></span>
	  <%= f.collection_select(:type_payment_id, @tipopago, :id, :nombre_tipo_pago, {:prompt => 'Seleccione el tipo de pago'}, { class: "form-control", required: true })%>
	  </div>
	<div class="item form-group<%= @compra.errors[:numero_compra].any? ? ' has-error has-feedback' : '' %>">
	  <div class="input-group mt-3">
	    <span class="input-group-text fw-bold" id="addon-wrapping">N:</span>
	    <%= f.number_field :numero_compra, {:class=> "form-control", :placeholder=>"Numero de compra...", required: true} %>
	  </div>
	</div>
    </div>
  </div>
  <div class="col" style="text-align:right;">
    <div class="container">
      <h2 id="importe_compra_lbl" > Subtotal de compra: Bs <%= @compra.total_compra %> </h2>
      <h2 id="importe_compra_lbl2" > 16% del IVA: Bs <%= @compra.total_compra * 0.16 %> </h2>
      <h2 id="importe_compra_lbl3" > Total de compra: Bs <%= @compra.total_compra * 1.16 %> </h2>
    </div>
  </div>
</div>
<br>

<div class="container">
  <button type="button" class="btn btn-primary btn-lg form-control" data-bs-toggle="modal" data-bs-target="#buscador_productocompra">
    <span class="fas fa-search"></span> Buscar Producto</button>
  <div class="row mt-3">
    <div class="btn-group" role="group">
      <%= link_to @compra, method: :delete, data: { confirm: 'Cancelar la registro?' }, class: "btn btn-danger form-control" do %>
      <span class="fas fa-window-close"></span> Cancelar Registro
      <% end %>
      <%= f.button :type => "submit", class: "btn btn-success form-control", disabled: (!@compra.supplier || @compra.total_compra == 0) do %>
      <span class="fa fa-check"></span> Finalizar Registro
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<br>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped" id="tabla_compras" width="80%" cellspacing="0">
        <thead class="table-dark">
          <tr>
	    <th>Producto</th>
	    <th>Cantidad</th>
	    <th>Precio</th>
	    <th>Total</th>
	    <th>Accion</th>
          </tr>
	</thead>
        <tbody>
	  <% @productos_compra.each do |det| %>
          <tr>
	    <td> <%= det.product.try(:nombre_producto) %> </td>
	    <td> <%= det.cantidad %> </td>
	    <td> Bs <%= det.precio_detalle_compra %> </td>
	    <td> Bs <%= det.precio_detalle_compra * det.cantidad %> </td>
	    <td><%= link_to ('<i class="fas fa-window-close"> </i>').html_safe, purchase_purchase_detail_path(@compra, det), method: :delete, data: { confirm: "Borrar producto: #{det.product.id}?"}, class: "btn btn-danger btn-xs" %></td>
          </tr>
	  <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% @model = @compra %>
<% @tipo = 'purchases' %>
<%= render 'buscador_productocompra', model: @model, tipo: @tipo %>
<%= render 'buscador_proveedor' , compra: @compra %>
