<%= stylesheet_link_tag 'sales' %>

<%= form_for @compra, remote: true  do |f| %>
<div class = "row">
  <div class="col">
    <h3 class="h3 mb-2 text-gray-800">Registro de compra</h3>
    <br />
    <div id="proveedor-compra" class="nombre-proveedor" >
      <h5> Proveedor: <%= @compra.supplier.present? ?  @compra.supplier.try(:nombre_proveedor) : "No se ha asignado" %></h5>
    </div>
    <div class="input-group">
      <%= f.collection_select(:type_payment_id, @tipopago, :id, :nombre_tipo_pago, {:prompt => 'Seleccione el tipo de pago'}, { class: "form-control", required: true })%>
    </div>
  </div>
  <div class="col" style="text-align:right;">
    <h2 id="importe_compra_lbl" > Subtotal de compra: Bs <%= @compra.total_compra %> </h2>
    <h2 id="importe_compra_lbl2" > 16% del IVA: Bs <%= @compra.total_compra * 0.16 %> </h2>
    <h2 id="importe_compra_lbl3" > Total de compra: Bs <%= @compra.total_compra * 1.16 %> </h2>
  </div>
</div>

<div class="item form-group<%= @compra.errors[:numero_compra].any? ? ' has-error has-feedback' : '' %>">
  <%= f.label :adelanto, "Numero de compra: " %>
  <div class="input-group">
    <%= f.number_field :numero_compra, {:class=> "form-control", :placeholder=>"Numero de compra...", required: true} %>       </div>
</div>
<br />

<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#buscador_productocompra">
      Buscar producto </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-info form-control" data-bs-toggle="modal" data-bs-target="#buscador_proveedor">
      Buscar proveedor</button>
  </div>
</div>
<br>

<div class="row">
  <div class="col">
    <%= link_to 'Cancelar registro', @compra, method: :delete, data: { confirm: 'Cancelar la registro?' }, class: "btn btn-danger form-control" %>
  </div>
  <div class="col">
    <%= f.submit 'Finalizar registro', class: "btn btn-success form-control" %>
  </div>
</div>
<% end %>

</div>
<br />

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="tabla_compras" width="80%" cellspacing="0">
        <thead>
          <tr>
	    <th>Producto</th>
	    <th>Cantidad</th>
	    <th>Precio</th>
	    <th>Total</th>
          </tr>
	</thead>
        <tbody>
	  <% @productos_compra.each do |det| %>
          <tr>
	    <td> <%= det.product.try(:nombre_producto) %> </td>
	    <td> <%= det.cantidad %> </td>
	    <td> Bs <%= det.precio_detalle_compra %> </td>
	    <td> Bs <%= det.precio_detalle_compra * det.cantidad %> </td>
	    <td><%= link_to "Remover producto", purchase_purchase_detail_path(@compra, det), method: :delete, data: { confirm: "Borrar producto: #{det.product.id}?"}, class: "btn btn-danger btn-xs" %></td>
          </tr>
	  <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% @model = @compra %>
<% @tipo = 'purchases' %>
<%= render 'buscador_productocompra', model: @model, tipo: @tipo %>
<%= render 'buscador_proveedor' , compra: @compra %>
