<h1 class="h3 mb-2 text-gray-800">Compras</h1>
<br />

<%= search_form_for @search, url: search_purchases_path, html: { method: :post} do |f| %>
<div class="row">
  <div class="col">
    <%= f.text_field :created_at_gteq, class: "form-control", placeholder: "Fecha de inicio..." %>
  </div>
  <div class="col">
    <%= f.text_field :created_at_lteq, class: "form-control", placeholder: "Fecha fin..." %>
  </div>
  <div class="col">
    <%= f.submit "Buscar", class: "btn btn-success form-control" %>
  </div>
  <% end %>
</div>
<br />

<div class="row">
  <div class="col">
    <%= link_to new_purchase_path, {class: "btn btn-info form-control", id: "registrar-entrada-btn"}  do %>
    <span class="fas fa-plus-square"> </span>
    Registrar entrada
    <%end%>
  </div>
  <div class="col">
    <%= link_to purchases_path(request.params.merge(format: :pdf)), {class: "btn btn-primary form-control", target: :_blank} do %>
    <span class="fas fa-file-alt" ></span> Generar reporte de compras
    <% end %>
  </div>
</div>
<br />

<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="tabla_compras" width="60%" cellspacing="0">
        <thead>
        <tr>
          <th>Id</th>
	  <th>Almacenista</th>
	  <th>Proveedor</th>
	  <th>Total</th>
	  <th>Fecha y hora</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% if @compras.empty? %>
          <tr> 
            <td> No hay compras </td><td></td><td></td> 
          </tr>
          <% else %>
            <% @compras.each do |compra| %>
              <tr> 
                <td> <%= compra.try(:numero_compra) %> </td>
		<td> <%= compra.user.username %> </td>
		<td> <%= compra.try(:supplier).try(:nombre_proveedor) %> </td>
		<td> Bs <%= compra.total_compra * 1.16%> </td>
		<td> <%= compra.created_at.to_s(:db) %> </td>
                <td> 
		  <%= link_to 'Mostrar', purchase_path(compra), {class: "btn btn-info btn-xs", remote: true} %>
		   <%= link_to 'Borrar', compra, method: :delete, data: { confirm: 'Eliminar la compra?' }, class: "btn btn-danger btn-xs" %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div
<%= render 'modal_purchases' %>
