<style>
  body {background-color: #ccc5c5;}
    .btn-info {color: #fff;}
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {color: #fff; background-color: #00b3db; border-color: #00b3db;}
</style>

<div id="comienzocom" class="text-center">
  <span class="h1 text-gray-800"><i class="fa fa-shopping-basket"></i> Compras <i class="fa fa-shopping-basket"></i></span>
</div>
<br />

<div id="notice_wrapper">
  <% if flash[:notice] %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= flash[:notice] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% elsif flash[:error] %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= flash[:error] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% elsif flash[:success] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= flash[:success] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% end %>
</div>


<div id="buscadorescompra">
  <div class="row">
    <div class="col">
      <%= link_to new_purchase_path, {class: "btn btn-success form-control", id: "registrar-entrada-btn"}  do %>
      <span class="fas fa-plus-square"> </span>
      Registrar Compra
      <%end%>
    </div>
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
	<button class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#buscarfechacompra" aria-expanded="true" aria-controls="buscarfecha"><i class="fa fa-calendar"></i> Buscar por Fecha </button>
	<button class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#buscarnumerocompra" aria-expanded="false" aria-controls="buscarnumero"><span class="fw-bold">#</span> Buscar por Numero </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="collapse mt-3" id="buscarfechacompra" data-bs-parent="#buscadorescompra">
      <div class="row">
	<%= search_form_for @search, url: search_purchases_path, html: {method: :post, class: "input-group"} do |f| %>
	<%= f.date_field :created_at_gteq, class: "form-control", placeholder: "Fecha Inicio..." %>
	<%= f.date_field :created_at_lteq, class: "form-control", placeholder: "Fecha Fin..." %>
	<%= f.button :type => "submit", class: "btn btn-primary" do %>
	<span class="fas fa-search"></span> Buscar
	<% end %>
	<% end %>
      </div>
    </div>
    <div class="collapse mt-3" id="buscarnumerocompra" data-bs-parent="#buscadorescompra">
      <div class="row">
	<%= search_form_for @search, url: search_sales_path, html: {method: :post, class: "input-group"} do |f| %>
	<%= f.number_field :numero_compra_eq, class: "form-control", placeholder: "Numero de Factura..." %>
	<%= f.button :type => "submit", class: "btn btn-primary" do %>
	<span class="fas fa-search"></span> Buscar
	<% end %>
	<% end %>
      </div>
    </div>
  </div>
</div>
<br>

<% if current_user.role_id == 1 || current_user.role_id ==  2 %>
<div class="row">
  <div class="col">
    <%= link_to purchases_path(request.params.merge(format: :pdf)), {class: "btn btn-outline-dark form-control", target: :_blank} do %>
    <span class="fa fa-file-pdf" ></span> Generar Reporte de Compras
    <% end %>
  </div>
  <% end %>
</div>
<br>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-bordered" id="tabla_compras" width="60%" cellspacing="0">
	<thead class="table-dark">
          <tr>
	    <th class="align-middle text-center"><%= sort_link @search, :numero_compra, "N# Factura",{ default_order: :desc }, { class: "link-light" }%></th>
	    <th class="align-middle text-center"><%= sort_link @search, :user_username, "Encargado",{ default_order: :desc }, { class: "link-light" }%></th>
	    <th class="align-middle text-center"><%= sort_link @search, :supplier_nombre_proveedor, "Proveedor",{ default_order: :desc }, { class: "link-light" }%></th>
	    <th class="align-middle text-center"><%= sort_link @search, :created_at, "Fecha",{ default_order: :desc }, { class: "link-light" }%></th>
	    <th class="align-middle text-center">Total(Bs)</th>
            <th class="align-middle text-center">Acciones</th>
	  </tr>
        </thead>
	<tbody>
	  <% if @compras.empty? %>
          <tr>
	    <td> No hay compras </td><td></td><td></td> 
          </tr>
	  <% else %>
          <% @compras.each do |compra| %>
	  <tr> 
            <td class="align-middle text-center"> <%= compra.try(:numero_compra) %> </td>
	    <td class="align-middle text-center"> <%= compra.user.username %> </td>
	    <td class="align-middle text-center"> <%= compra.try(:supplier).try(:nombre_proveedor) %> </td>
	    <td class="align-middle text-center"> <%= compra.created_at.strftime("%d-%m-%Y") %> </td>
	    <td class="align-middle text-center"> <%= compra.total_compra * 1.16%> </td>
	    <td class="align-middle text-center">
	      <div class="btn-group ">
		<%= link_to ('<i class="fas fa-info-circle"> </i>').html_safe, purchase_path(compra), {class: "btn btn-info btn-sm", remote: true} %>
		<% if current_user.role_id == 1 || current_user.role_id ==  2 %>
		<%= link_to ('<i class="fas fa-window-close"> </i>').html_safe, compra, method: :delete, data: { confirm: 'Eliminar la compra?' }, class: "btn btn-danger btn-sm" %>
		<% end %>
	      </div>
	    </td>
	  </tr>
	  <% end %>
          <% end %>
	</tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'modal_purchases' %>
