<%= link_to new_purchase_path, {class: " btn btn-info", id: "registrar-entrada-btn"}  do %>
    <span class="fas fa-plus-square me-2"> </span>
    Registrar entrada
<%end%>
<br />
<br />
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-striped" id="tabla_compras" width="60%" cellspacing="0">
        <thead>
        <tr>
			<th class="align-middle text-center">Id</th>
			<th class="align-middle text-center">Almacenista</th>
			<th class="align-middle text-center">Proveedor</th>
			<th class="align-middle text-center"></th>
        </tr>
        </thead>
        <tbody>
          <% if @compras.empty? %>
			<tr> 
				<td>No hay compras</td>
				<td></td>
				<td></td> 
			</tr>
          <% else %>
            <% @compras.each do |compra| %>
            <tr> 
                <td class="align-middle text-center"> <%= compra.id %> </td>
				<td class="align-middle text-center"> <%= compra.user.username %> </td>
				<td class="align-middle text-center"> <%= compra.try(:supplier).try(:nombre_proveedor) %> </td>
                <td class="align-middle text-center"> 
					<div class="btn-group ">
					<%= link_to 'Borrar', compra, method: :delete, data: { confirm: 'Eliminar la compra?' }, class: "btn btn-danger btn-sm" %>
					<%= link_to 'Mostrar', purchase_path(compra), {class: "btn btn-info btn-sm", remote: true} %>
					</div>
			   </td>
             </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div
<%= render 'modal_purchases' %>
