<form>
  <div class="row">
    <div class="input-group mb-3">
      <label class="input-group-text" for="idclit">Numero de Rif:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="idclit" value="<%= @client.rif_cliente %>">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="nombreclit">Nombre:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="nombreclit" value="<%= @client.nombre_cliente %>">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="categoriaclit">Categoria:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="categoriaclit" value="<%= @client.type_client.nombre_tipo_cliente %>">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="direccionclit">Direccion:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="direccionclit" value="<%= @client.direccion_cliente %>">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="telclit">Telefonos:</label>
      <% @client.phoneclients.each do |tel| %>
      <input type="text" readonly class="form-control text-center" aria-describedby="telclit" value="<%= tel.numero_cliente %>">
      <% end %>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="correoclit">Correo:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="correoclit" value="<%= @client.correo_cliente != nil ? @client.correo_cliente : "No tiene correo" %>">
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="desclit">Descripcion:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="desclit" value="<%= @client.descripcion_cliente %>">
    </div>
  </div>
</form>
