<%= form_for @client, remote: true  do |f| %>

    <div class="form-group">
      <h4 class="control-label">Datos del cliente:</h4>
    </div>

    <div class="item form-group<%= @client.errors[:rif_cliente].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :rif, "Rif del cliente: " %>
      <div class="input-group">
        <%= f.text_field :rif_cliente, {:class=> "form-control", :placeholder=>"Introduzca el rif del cliente..."} %>        
        <%if @client.errors[:rif_cliente].any? %>
          <p class="bg-danger"><%= @client.errors[:rif_cliente].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @client.errors[:nombre_cliente].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :nombre, "Nombre del cliente: " %>
      <div class="input-group">
        <%= f.text_field :nombre_cliente, {:class=> "form-control", :placeholder=>"Introduzca el nombre del cliente..."} %>        
        <%if @client.errors[:nombre_cliente].any? %>
          <p class="bg-danger"><%= @client.errors[:nombre_cliente].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

            <div class="item form-group<%= @client.errors[:type_client].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :categoria, "Categoria de cliente: " %>
      <div class="input-group">
      <%= collection_select(:client, :type_client_id, @tipoclientes, :id, :nombre_tipo_cliente, {:prompt => 'Seleccione categoria'}, { class: "form-control" })%>
        <%if @client.errors[:type_client].any? %>
          <p class="bg-danger"><%= @client.errors[:type_client].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group<%= @client.errors[:correo_cliente].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :correo, "Correo del cliente: " %>
      <div class="input-group">
        <%= f.text_field :correo_cliente, {class: "form-control", :placeholder=>"Introduzca el correo del cliente..."} %>
        <%if @client.errors[:correo_cliente].any? %>
          <p class="bg-danger"><%= @client.errors[:correo_cliente].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
	    </div>

	    <div class="item form-group">
	      <%= f.fields_for :phoneclients do |foro| %>
	      <%= foro.label :"Numero de telefono" %>
	      <div class="input-group" >
		<%= render partial: 'phoneclient_fields', locals: {f: foro} %>
	      <% end %>
	      </div>
	      <%= link_to_add_fields "Agregar otro telefono", f, :phoneclients %>
	    </div>
	    

    <div class="item form-group<%= @client.errors[:descripcion_cliente].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :descripcion, "Descripcion del cliente: " %>
      <div class="input-group">
        <%= f.text_area :descripcion_cliente, {:class=> "form-control", :placeholder=>"Introduzca la descripcion del cliente.."} %>        
        <%if @client.errors[:descripcion_cliente].any? %>
          <p class="bg-danger"><%= @client.errors[:descripcion_cliente].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

<br />


    <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <%= f.submit @client.new_record? ? "Crear Cliente" : "Actualizar Cliente", :class => "btn btn-success"%>
    </div>  
<% end %>

<script>
(function() {
var ready;
ready = function() {

    $('#modal-body-clientes').on('click', '.remove_field', function(event) {
      $(this).prev('input[type=hidden]').val('1');
      $(this).closest('fields').hide();
      event.preventDefault();
      console.log('yo dazo....')
    });
    $('#modal-body-clientes').on('click', '.add_fields', function(event) {
      var regexp, time;
      console.log('It is really happening ....');
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $(this).before($(this).data('fields').replace(regexp, time));
      return event.preventDefault();
    });
  };

  $(document).ready(ready);

  $(document).on('page:load', ready);

}).call(this);

</script>
