
<h3 class=" mb-2 text-gray-800">Clientes</h3>
<div>  
  <%= link_to new_client_path, { remote: true, class: "btn btn-info" }  do %>
    <span class="fas fa-plus-square" ></span>
  <% end %>
</div>
<br />
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-striped" id="tablaClientes" width="100%" cellspacing="0">
        <thead>
        <tr>
			<th>Rif cliente</th>
            <th>Nombre cliente</th>
            <th>Correo cliente</th>
            <th>Tipo cliente</th>
			<th></th>
        </tr>
        </thead>
        <tbody>
            <% @clientes.each do |clit| %>
            <tr id="cliente_<%= clit.id %>" >
				<td class="align-middle text-center"><%= clit.rif_cliente %></td>
                <td class="align-middle text-center"><%= clit.nombre_cliente %></td>
                <td class="align-middle text-center"><%= clit.correo_cliente %></td>
                <td class="align-middle text-center"><%= clit.type_client != nil ? clit.type_client.nombre_tipo_cliente : "No tiene tipo" %></td>
                <td class="align-middle text-center">
				<div class="btn-group">
                <%= link_to "editar", edit_client_path(clit), html_options = {class: "btn btn-info btn-sm", remote: true} %>
                <%= link_to "Borrar", clit, remote: true, method: :delete, data: { confirm: "Borrar cliente: #{clit.nombre_cliente}?"}, class: "btn btn-danger btn-sm" %>
				</div>
			   </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
<%= render 'modal_clientes' %>
