<style>
  body {background-color: #96bca4;}
  .btn-info {color: #fff;}
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {color: #fff; background-color: #00b3db; border-color: #00b3db;}
</style>

<div id="comienzoclit" class="text-center">
    <span class="h1 text-gray-800"><i class="far fa-address-card"></i> Clientes <i class="far fa-address-card"></i></span> 
</div>

<div class="row mt-3">
  <div class="col">
    <%= link_to new_client_path, { remote: true, class: "btn btn-success form-control", id: "anadir-cliente-btn" }  do %>
    <span class="fas fa-plus-square" ></span> Registrar cliente
    <% end %>
  </div>
  <div class="col">
    <%= search_form_for @q, options = {class: "input-group"} do |f| %>
    <%= f.search_field :nombre_cliente_or_rif_cliente_cont, options = {class: "form-control", placeholder: "Buscar por nombre o rif..."} %>
    <%= f.button :type => "submit", class: "btn btn-primary" do %>
  <span class="fas fa-search"></span> Buscar
  <% end %>
  <% end %>
  </div>
</div>
<br>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-bordered" id="tablaClientes" width="100%" cellspacing="0">
	<thead class="table-dark">
	  <tr>
	    <th class="align-middle text-center"><%= sort_link @q, :rif_cliente, "RIF/Cedula",{ default_order: :desc }, { class: "link-light" }%></th>
	    <th class="align-middle text-center"><%= sort_link @q, :nombre_cliente, "Nombre",{ default_order: :desc }, { class: "link-light" }%></th>
            <th class="align-middle text-center">Telefono</th>
	    <th class="align-middle text-center">Acciones</th>
	  </tr>
	</thead>
	<tbody>
	  <% @clientes.each do |clit| %>
	  <tr id="cliente_<%= clit.id %>" >
	    <td class="align-middle text-center"><%= clit.rif_cliente %></td>
	    <td class="align-middle text-center"><%= clit.nombre_cliente %></td>
	    <td class="align-middle text-center"><%= clit.phoneclients.first.try(:numero_cliente) %></td>
	    <td class="align-middle text-center">
	      <div class="btn-group ">
		<%= link_to ('<i class="fas fa-info-circle"> </i>').html_safe, client_path(clit), html_options = {class: "btn btn-info btn-sm", remote: true} %>
		<%= link_to ('<i class="far fa-edit"> </i>').html_safe, edit_client_path(clit), html_options = {class: "btn btn-secondary btn-sm", remote: true} %>
		<%= link_to ('<i class="fas fa-window-close"> </i>').html_safe, clit, remote: true, method: :delete, data: { confirm: "Borrar cliente: #{clit.nombre_cliente}?"}, class: "btn btn-danger btn-sm" %>
	      </div>
	    </td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'modal_clientes' %>
