
<h1 class="h3 mb-2 text-gray-800">Clientes</h1>
<div>  
  <%= link_to new_client_path, { remote: true, class: "btn btn-info" }  do %>
    <span class="fas fa-plus-square" ></span>
  <% end %>
</div>
<br />
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="tablaClientes" width="100%" cellspacing="0">
        <thead>
        <tr>
	    <th>Rif cliente</th>
            <th>Nombre cliente</th>
            <th>Correo cliente</th>
            <th>Tipo cliente</th>
        </tr>
        </thead>
        <tbody>
            <% @clientes.each do |clit| %>
            <tr id="cliente_<%= clit.id %>" >
	        <td><%= clit.rif_cliente %></td>
                <td><%= clit.nombre_cliente %></td>
                <td><%= clit.correo_cliente %></td>
                <td><%= clit.type_client != nil ? clit.type_client.nombre_tipo_cliente : "No tiene tipo" %></td>
                <td>
                <%= link_to "editar", edit_client_path(clit), html_options = {class: "btn btn-info btn-xs", remote: true} %>
                <%= link_to "Borrar", clit, remote: true, method: :delete, data: { confirm: "Borrar cliente: #{clit.nombre_cliente}?"}, class: "btn btn-danger btn-xs" %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
<%= render 'modal_clientes' %>