<style>
  body {background-color: #608d98;}
  .btn-info {color: #fff;}
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {color: #fff; background-color: #00b3db; border-color: #00b3db;}
</style>

<% if @empresa == nil %>
<div id="comienzopresa" class="text-center">
  <span class="h1 text-gray-800"><i class="fa fa-building"></i> Datos de la empresa <i class="fa fa-building"></i></span>
  <br />
</div>
<br>

<div class="d-grid gap-4 mx-auto">
  <%= link_to new_company_path, {remote: true, class: "btn btn-primary form-control", id: "anadir-empresa-btn"}  do %>
  <span class="fas fa-plus-square" ></span> Insertar datos de la empresa
  <% end %>
</div>

<% else %>
<div id="comienzopresa" class="text-center">
  <span class="h1 text-gray-800"><i class="fa fa-building"></i> Datos de la empresa <i class="fa fa-building"></i></span>
  <br />
</div>
<br>

<form>
  <div class="form-control">
    <br>
    <div class="input-group mb-3">
      <label class="input-group-text" for="idrif">Numero de Rif:</label>
      <input type="text" readonly class="form-control" aria-describedby="idrif" value="<%= @empresa.rif_empresa %>"></input>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="nombrepresa">Nombre:</label>
      <input type="text" readonly class="form-control" aria-describedby="nombrepresa" value="<%= @empresa.nombre_empresa %>"></input>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="dirpresa">Direccion:</label>
      <input type="text" readonly class="form-control" aria-describedby="dirpresa" value="<%= @empresa.direccion_empresa %>"></input>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="telpresa">Telefono:</label>
      <input type="text" readonly class="form-control" aria-describedby="telpresa" value="<%= @empresa.telefono_empresa %>"></input>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="numerocontrol">Numero de control:</label>
      <input type="text" readonly class="form-control" aria-describedby="numerocontrol" value="<%= @empresa.numero_control %>"></input>
    </div>
  </div>
  <br>
  <div class="d-grid gap-4 mx-auto">
    <%= link_to edit_company_path(@empresa), {class: "btn btn-info btn-xs", remote: true} do %>
    <span class="fas fa-pencil-alt"></span> Editar Datos
    <% end %>
  </div>
</form>
<%end%>
<%= render 'modal_empresa' %>
