<% if @empresa == nil %>
<h1 id="comienzopresa" class="h3 mb-2 text-gray-800">Datos de la empresa</h1>
<br />
<div class="row">
  <%= link_to new_company_path, {remote: true, class: "btn btn-info form-control", id: "anadir-empresa-btn"}  do %>
  <span class="fas fa-plus-square" ></span> Insertar datos de la empresa
  <% end %>
</div>

<% else %>
<h1 id="comienzopresa" class="h3 mb-2 text-gray-800">Datos de la empresa</h1>
<br />
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="id">Numero de Rif</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @empresa.rif_empresa %>">
    </div>
    <div class="form-group col-md-6">
      <label for="fecha">Nombre</label>
      <input type="text" readonly class="form-control-plaintext" value="<%= @empresa.nombre_empresa %>">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="vendedor">Direccion:</label>
    <input type="text" readonly class="form-control-plaintext" value="<%= @empresa.direccion_empresa %>">
  </div>
  <div class="form-group col-md-6">
    <label for="cliente">Telefono:</label>
    <input type="text" readonly class="form-control-plaintext" value="<%= @empresa.telefono_empresa %>">
  </div>
  <div class="form-group col-md-6">
    <label for="cliente">Numero de control:</label>
    <input type="text" readonly class="form-control-plaintext" value="- <%= @empresa.numero_control %>">
  </div>
  <div class="row">
  <%= link_to "Editar datos", edit_company_path(@empresa), html_options = {class: "btn btn-info btn-xs", remote: true} %>
  </div>
</form>
<%end%>
<%= render 'modal_empresa' %>