<h4>Ingresar al sistema</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html_options: {class: "row g-3"}) do |f| %>
  <div class="col-12">
    <%= f.label :login %><br />
    <%= f.text_field :login, autofocus: true, class: "form-control", placeholder: "Usuario..."%>
  </div>

  <div class="col-12">
    <%= f.label :Clave %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Clave..."%>
  </div>
<br>
  <div class="col-12">
    <%= f.submit "Log in", class: "btn btn-dark float-end"%>
  </div>
<% end %>

