$('#modalUnidades').modal('toggle');
$('#tablaUnidades').append(
    '<tr id="unidad_<%= @unidad.id %>" ><td><%= @unidad.nombre_unidad %></td><td><%= @unidad.simbolo_unidad %></td><td><%= link_to 'Editar', edit_unit_path(@unidad), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @unidad, remote: true, method: :delete, data: { confirm: "Borrar la unidad: #{@unidad.nombre_unidad}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);
$('#comienzouni').before('<div id="si" class="alert alert-info alert-dismissible fade show" role="alert"><%= flash.now[:success] = "Se ha creado la unidad" %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');