$('#modalUnidades').modal('toggle');
$('#unidad_<%= @unidad.id %>').replaceWith(
    '<tr id="unidad_<%= @unidad.id %>" ><td class="align-middle text-center"><%= @unidad.nombre_unidad %></td><td class="align-middle text-center"><%= @unidad.simbolo_unidad %></td><td class="align-middle text-center"><div class="btn-group "><%= link_to 'Editar', edit_unit_path(@unidad), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @unidad, remote: true, method: :delete, data: { confirm: "Borrar la unidad: #{@unidad.nombre_unidad}?"}, class: "btn btn-danger btn-xs" %></div></td></tr>'
);
$('#comienzouni').before('<div id="si" class="alert alert-info alert-dismissible fade show" role="alert"><%= flash.now[:success] = "Se ha actualizado la unidad" %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');