$('#modalCategorias').modal('toggle');
$('#tablaCategorias').append(
    '<tr id="categoria_<%= @categoria.id %>" ><td class="align-middle"><%= @categoria.nombre_categoria %></td><td class="align-middle text-center"><%= @categoria.descripcion_categoria %></td><td class="align-middle"><div class="btn-group pt-1"><%= link_to 'editar', edit_category_path(@categoria), html_options = {class: "btn btn-info btn-sm fixed-bottom ", remote: true} %> <%= link_to "Borrar", @categoria, remote: true, method: :delete, data: { confirm: "Borrar categoria: #{@categoria.nombre_categoria}?"}, class: "btn btn-danger btn-sm fixed-bottom" %></div></td></tr>'
);
