<h1 class="h3 mb-2 text-gray-800">Categorias de productos</h1>

<div>  
  <%= link_to new_category_path, {remote: true, class: "btn btn-info", id: "anadir-categoria-btn"}  do %>
    <span class="fas fa-plus-square" ></span>
  <% end %>
</div>
<br />

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
       <table id="tablaCategorias" class="table table-striped" width="100%">
         <thead>
           <tr>
             <th>Nombre Categoria</th>
             <th>Descripcion</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
         <% @categorias.each do |cat| %>
            <tr id="categoria_<%= cat.id %>" >
                <td class="align-middle"><%= cat.nombre_categoria %></td>
                <td class="align-middle text-center"><%= cat.descripcion_categoria %></td>
                <td class="align-middle">
				<div class="btn-group ">
					<%= link_to "editar", edit_category_path(cat), html_options = {class: "btn btn-info btn-sm  ", remote: true} %>
					<%= link_to 'Borrar', cat, remote: true, method: :delete, data: { confirm: "Borrar categoria: #{cat.nombre_categoria}?"}, class: "btn btn-danger btn-sm " %>
                </div>
				</td>
            </tr>
         <% end %>
         </tbody>
       </table>
    </div>
  </div>
</div>

<%= render 'modal_categorias' %>
