$('#modalCategorias').modal('toggle');
$('#categoria_<%= @categoria.id %>').replaceWith(
    '<tr id="categoria_<%= @categoria.id %>" ><td class="align-middle text-center"><%= @categoria.nombre_categoria %></td><td class="align-middle text-center"><%= @categoria.descripcion_categoria %></td><td class="align-middle text-center"><div class="btn-group"><%= link_to ('<i class="far fa-edit"> </i>').html_safe, edit_category_path(@categoria), html_options = {class: "btn btn-secondary btn-sm", remote: true} %> <%= link_to ('<i class="fas fa-window-close"> </i>').html_safe, @categoria, remote: true, method: :delete, data: { confirm: "Borrar la Categoria: #{@categoria.nombre_categoria}?"}, class: "btn btn-danger btn-sm" %></div></td></tr>'
);
$('#comienzo').after('<div id="si" class="alert alert-info alert-dismissible fade show mt-2" role="alert"><%= flash.now[:notice] = "Se ha actualizado la categoria" %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
$(".alert").first().hide().slideDown(500).delay(4000).slideUp(500, function () {$(this).remove();});