<form>
	<div class="row">
			
			<div class="input-group mb-3">
			<span class="input-group-text" for="id">Codigo:</span>
			<input type="text" readonly class="form-control" aria-describedby="id" value="<%= @product.codigo_producto %>"> </input>
			</div>
		
		<div class="col-md-6">
		<label class="form-label" for="fecha">Nombre:</label>
		<input type="text" readonly class="form-control" value="<%= @product.nombre_producto %>"></input>
		</div>
		
		<div class=" col-md-6">
		<label class="form-label" for="cliente">Categoria:</label>
		<input type="text" readonly class="form-control text-end" value="<%= @product.category.nombre_categoria %>"></input>
		</div>
		
		<div class=" col-md-6">
		<label  class="form-label mt-1" for="cliente">Unidad:</label>
		<input type="text" readonly class="form-control" value="<%= @product.unit.nombre_unidad %>">
		</div>
		
		<div class=" col-md-6">
		<label class="form-label mt-1" for="cliente">Localizacion en almacen:</label>
		<input type="text" readonly class="form-control text-end" value="<%= @product.location.nombre_lugar %>">
		</div>
		
		<div class=" col-md-6">
		<label class="form-label mt-1" for="cliente">Existencia actual:</label>
		<input type="text" readonly class="form-control" value="<%= @product.existencia_producto %>"></input>
		</div>
		
		<div class=" col-md-6">
		<label  class="form-label mt-1" for="cliente">Existencia minima permitida:</label>
		<input type="text" readonly class="form-control text-end" value="<%= @product.min_producto %>"></input>
		</div>
		
		<div class=" col-md-6">
		<label class="form-label mt-1" for="cliente">Precio:</label>
		<input type="text" readonly class="form-control" value="Bs <%= @product.precio_producto %>"></input>
		</div>
		
		<div class=" col-md-6">
		<label class="form-label mt-1" for="vendedor">Descripcion:</label>
		<textarea  readonly class="form-control" ><%= @product.descripcion_producto %></textarea>
		</div>
	</div>
</form>
