<%= form_for @product, remote: true  do |f| %>

    <div class="form-group">
      <h4 >Datos del producto:</h4>
    </div>

   <div class="item form-group mt-1 pt-1<%= @product.errors[:codigo_producto].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :codigo, "Codigo del producto: ", class:"form-label" %>
      <div class="input-group">
        <%= f.text_field :codigo_producto, {:class=> "form-control", :placeholder=>"Introduzca el codigo de producto..."} %>        
        <%if @product.errors[:codigo_producto].any? %>
          <p class="bg-danger"><%= @product.errors[:codigo_producto].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
    
    <div class="item form-group mt-1 pt-1<%= @product.errors[:nombre_producto].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :nombre, "Nombre del producto: ", class:"form-label"%>
      <div class="input-group">
        <%= f.text_field :nombre_producto, {:class=> "form-control", :placeholder=>"Introduzca el nombre del producto..."} %>        
        <%if @product.errors[:nombre_producto].any? %>
          <p class="bg-danger"><%= @product.errors[:nombre_producto].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group mt-1 pt-1<%= @product.errors[:descripcion_producto].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :descripcion, "Descripcion del producto: ", class:"form-label" %>
      <div class="input-group">
        <%= f.text_area :descripcion_producto, {class: "form-control", :placeholder=>"Introduzca la descripcion del producto..."} %>
        <%if @product.errors[:descripcion_producto].any? %>
          <p class="bg-danger"><%= @product.errors[:descripcion_producto].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group mt-1 pt-1<%= @product.errors[:precio_producto].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :precio, "Precio del producto: ", class:"form-label" %>
      <div class="input-group">
        <%= f.number_field :precio_producto, {class: "form-control", :placeholder=>"Precio del producto"} %>
        <%if @product.errors[:precio_producto].any? %>
          <p class="bg-danger"><%= @product.errors[:precio_producto].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group mt-1 pt-1<%= @product.errors[:existencia_producto].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :existencia, "Stock inicial: ", class:"form-label" %>
      <div class="input-group">
        <%= f.number_field :existencia_producto, {class: "form-control", :placeholder=>"Stock inicial"} %>
        <%if @product.errors[:existencia_producto].any? %>
          <p class="bg-danger"><%= @product.errors[:existencia_producto].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group mt-1 pt-1<%= @product.errors[:min_producto].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :min, "Minimo de Stock: ", class:"form-label" %>
      <div class="input-group">
        <%= f.number_field :min_producto, {class: "form-control", :placeholder=>"Stock minimo"} %>
        <%if @product.errors[:min_producto].any? %>
          <p class="bg-danger"><%= @product.errors[:min_producto].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
   
    <div class="item form-group mt-1 pt-1<%= @product.errors[:category].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :categoria, "Categoria: ", class:"form-label" %>
      <div class="input-group">
      <%= collection_select(:product, :category_id, @categorias, :id, :nombre_categoria, {:prompt => 'Seleccione categoria'}, { class: "form-control" })%>
        <%if @product.errors[:category].any? %>
          <p class="text-danger ms-3"><%= @product.errors[:category].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group mt-1 pt-1<%= @product.errors[:unit].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :unit, "Unidad: ", class:"form-label" %>
      <div class="input-group">
      <%= collection_select(:product, :unit_id, @unidades, :id, :nombre_unidad, {:prompt => 'Seleccione unidad'}, { class: "form-control" })%>
        <%if @product.errors[:unit].any? %>
          <p class="text-danger ms-3"><%= @product.errors[:unit].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group mt-1 pt-1<%= @product.errors[:location].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :location, "Ubicacion: ", class:"form-label" %>
      <div class="input-group">
      <%= collection_select(:product, :location_id, @locaciones, :id, :nombre_lugar, {:prompt => 'Seleccione un lugar'}, { class: "form-control" })%>
        <%if @product.errors[:location].any? %>
          <p class="text-danger ms-3"><%= @product.errors[:location].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>


    <div class="mt-3 pt-3">
      <%= f.submit @product.new_record? ? "Crear Producto" : "Actualizar Producto", :class => " btn btn-success"%>
    </div>  
<% end %>
