<form>
  <div class="row">
    <div class="input-group flex-nowrap">
      <span class="input-group-text fw-bold" for="id">Codigo:</span>
      <input type="text" readonly class="form-control text-center" aria-describedby="id" value="<%= @product.codigo_producto %>"></input>
    </div>
  </div>
  <div class="row mt-3">
    <div class="input-group flex-nowrap">
      <span class="input-group-text fw-bold" for="id">Nombre:</span>
      <input type="text" readonly class="form-control text-center" aria-describedby="id" value="<%= @product.nombre_producto %>"></input>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="input-group flex-nowrap">
	<span class="input-group-text fw-bold" for="id">Categoria:</span>
	<input type="text" readonly class="form-control text-center" aria-describedby="id" value="<%= @product.category.nombre_categoria %>"></input>
      </div>
    </div>
    <div class="col">
      <div class="input-group flex-nowrap">
	<span class="input-group-text fw-bold" for="id">Unidad:</span>
	<input type="text" readonly class="form-control text-center" value="<%= @product.unit.nombre_unidad %>">
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="input-group flex-nowrap">
      <span class="input-group-text fw-bold" for="id">Localizacion en almacen:</span>
      <input type="text" readonly class="form-control text-center" value="<%= @product.location.nombre_lugar %>">
    </div>
  </div>
  <div class="row mt-3">
    <div class="input-group flex-nowrap">
      <span class="input-group-text fw-bold" for="id">Precio (Bs):</span>
      <input type="text" readonly class="form-control text-center" value="<%= @product.precio_producto %>">
    </div>
  </div>
  <div class="row mt-3 container">
    <label class="form-label fw-bold text-center" for="existencia">Existencias</label>
    <div class="col">
      <div class="input-group flex-nowrap">
	<span class="input-group-text fw-bold" for="id">Minima:</span>
	<input type="text" readonly class="form-control text-center" value="<%= @product.min_producto %>"></input>
      </div>
    </div>
    <div class="col">
      <div class="input-group flex-nowrap">
	<span class="input-group-text fw-bold" for="id">Actual:</span>
	<input type="text" readonly class="form-control text-center" value="<%= @product.existencia_producto %>"></input>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="input-group flex-nowrap">
      <span class="input-group-text fw-bold" for="id">Descripcion:</span>
      <textarea type="text" readonly class="form-control text-center"><%= @product.descripcion_producto %></textarea>
    </div>
  </div>
</form>
