<form>
     <div class="form-row">
       <div class="form-group col-md-6">
	 <label for="id">Codigo</label>
	 <input type="text" readonly class="form-control-plaintext" value="<%= @product.codigo_producto %>"> </input>
       </div>
       <div class="form-group col-md-6">
	 <label for="fecha">Nombre</label>
	 <input type="text" readonly class="form-control-plaintext" value="<%= @product.nombre_producto %>"></input>
       </div>
     </div>
     <div class="form-group col-md-6">
       <label for="vendedor">Descripcion</label>
       <input type="text" readonly class="form-control-plaintext" value="<%= @product.descripcion_producto %>"></input>
     </div>
     <div class="form-group col-md-6">
       <label for="cliente">Precio:</label>
       <input type="text" readonly class="form-control-plaintext" value="<%= @product.precio_producto %>"></input>
     </div>
     <div class="form-group col-md-6">
       <label for="cliente">Existencia actual:</label>
       <input type="text" readonly class="form-control-plaintext" value="<%= @product.existencia_producto %>"></input>
     </div>
     <div class="form-group col-md-6">
       <label for="cliente">Existencia minima permitiada:</label>
       <input type="text" readonly class="form-control-plaintext" value="<%= @product.min_producto %>"></input>
     </div>
     <div class="form-group col-md-6">
       <label for="cliente">Categoria:</label>
       <input type="text" readonly class="form-control-plaintext" value="<%= @product.category.nombre_categoria %>"></input>
     </div>
     <div class="form-group col-md-6">
       <label for="cliente">Unidad:</label>
       <input type="text" readonly class="form-control-plaintext" value="<%= @product.unit.nombre_unidad %>">
     </div>
     <div class="form-group col-md-6">
       <label for="cliente">Localizacion en almacen:</label>
       <input type="text" readonly class="form-control-plaintext" value="<%= @product.location.nombre_lugar %>">
     </div>
</div>
</form>
