$('#modalProductos').modal('toggle');
$('#tablaProductos').append(
    '<tr id="producto_<%= @product.id %>" ><td><%= @product.codigo_producto %></td><td><%= @product.nombre_producto %></td><td><%= @product.existencia_producto %></td><<td>$ <%= @product.precio_producto %></td><td><%= @product.location.nombre_lugar %></td></td><td><%= link_to 'Editar', edit_product_path(@product), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @product, remote: true, method: :delete, data: { confirm: "Borrar el producto: #{@product.nombre_producto}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);