$('#modalProductos').modal('toggle');
$('#producto_<%= @product.id %>').replaceWith(
    '<tr id="producto_<%= @product.id %>" ><td><%= @product.codigo_producto %></td><td><%= @product.nombre_producto %></td><td><%= @product.existencia_producto %></td><<td>$ <%= @product.precio_producto %></td><td><%= @product.category != nil ? @product.category.nombre_categoria : "No tiene categoria" %></td><td><%= @product.unit != nil ? @product.unit.nombre_unidad : "No tiene unidad" %><td><%= @product.location != nil ? @product.location.nombre_lugar : "No tiene ubicacion" %></td></td><td><%= link_to 'editar', edit_product_path(@product), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @product, remote: true, method: :delete, data: { confirm: "Borrar producto: #{@product.nombre_producto}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);
