<%= form_for @proveedor, remote: true do |f| %>

    <div class="form-group">
      <h4 class="control-label">Datos del proveedor:</h4>
    </div>

    <div class="item form-group mt-1 pt-1<%= @proveedor.errors[:rif_proveedor].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :rif, "Rif del Proveedor: ", class:"form-label" %>
      <div class="input-group">
        <%= f.text_field :rif_proveedor, {:class=> "form-control", :placeholder=>"Introduzca el rif del proveedor..."} %>        
        <%if @proveedor.errors[:rif_proveedor].any? %>
          <p class="bg-danger"><%= @proveedor.errors[:rif_proveedor].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>
    
    <div class="item form-group mt-1 pt-1<%= @proveedor.errors[:nombre_proveedor].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :nombre, "Nombre del Proveedor: " %>
      <div class="input-group">
        <%= f.text_field :nombre_proveedor, {:class=> "form-control", :placeholder=>"Introduzca el nombre del proveedor..."} %>        
        <%if @proveedor.errors[:nombre_proveedor].any? %>
          <p class="bg-danger"><%= @proveedor.errors[:nombre_proveedor].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group mt-1 pt-1<%= @proveedor.errors[:correo_proveedor].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :correo, "Correo del proveedor: " %>
      <div class="input-group">
        <%= f.text_field :correo_proveedor, {class: "form-control", :placeholder=>"Correo del proveedor..."} %>
        <%if @proveedor.errors[:correo_proveedor].any? %>
          <p class="bg-danger"><%= @proveedor.errors[:correo_proveedor].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="item form-group mt-1 pt-1<%= @proveedor.errors[:descripcion_proveedor].any? ? ' has-error has-feedback' : '' %>">
      <%= f.label :descripcion, "descripcion del Proveedor: " %>
      <div class="input-group">
        <%= f.text_area :descripcion_proveedor, {:class=> "form-control", :placeholder=>"Introduzca la descripcion del proveedor..."} %>        
        <%if @proveedor.errors[:descripcion_proveedor].any? %>
          <p class="bg-danger"><%= @proveedor.errors[:descripcion_proveedor].to_s[/\w([^"]*)/] %></p>
        <% end %>
      </div>
    </div>

    <div class="mt-3 pt-3">
      <%= f.submit @proveedor.new_record? ? "Crear Proveedor" : "Actualizar Proveedor", :class => "btn btn-success"%>
    </div>  
<% end %>
