<form>
  <div class="row">
    <div class="input-group mb-3">
      <label class="input-group-text" for="id">Numero de Rif:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="id" value="<%= @proveedor.rif_proveedor %>"></input>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="nombre">Nombre:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="nombre" value="<%= @proveedor.nombre_proveedor %>"></input>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="direccion">Direccion:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="direccion" value="<%= @proveedor.direccion_proveedor %>"></input>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="telprov">Telefonos:</label>
      <% @proveedor.phonesuppliers.each do |tel| %>
      <input type="text" readonly class="form-control text-center" aria-describedby="telprov" value="<%= tel.numero_proveedor %>">
      <% end %>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="correoprov">Correo Electronico:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="correoprov" value="<%= @proveedor.correo_proveedor %>"></input>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="desprov">Descripcion:</label>
      <input type="text" readonly class="form-control text-center" aria-describedby="desprov" value="<%= @proveedor.descripcion_proveedor %>"></input>
    </div>
  </div>
</form>
