$('#modalProveedores').modal('toggle');
$('#tablaProveedores').append(
    '<tr id="proveedor_<%= @proveedor.id %>" ><td class="align-middle text-center"><%= @proveedor.rif_proveedor %></td><td class="align-middle text-center"><%= @proveedor.nombre_proveedor %></td><td class="align-middle text-center"><%= @proveedor.correo_proveedor %></td><td class="align-middle text-center"><%= @proveedor.descripcion_proveedor %></td><td class="align-middle text-center"><div class="btn-group"><%= link_to 'editar', edit_supplier_path(@proveedor), html_options = {class: "btn btn-info btn-sm", remote: true} %> <%= link_to "Borrar", @proveedor, remote: true, method: :delete, data: { confirm: "Borrar categoria: #{@proveedor.nombre_proveedor}?"}, class: "btn btn-danger btn-sm" %></div></td></tr>'
);