<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Proveedores</h1>
<div>  
  <%= link_to new_supplier_path, {remote: true, class: "btn btn-info", id: "anadir-proveedor-btn"}  do %>
    <span class="fas fa-plus-square" style=""></span>
  <%end%>
</div>
<br />
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-striped" id="tablaProveedores" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Numero rif</th>
            <th>Nombre</th>
            <th>Correo</th>
			<th>Descripcion</th>
	    <th></th>
        </tr>
        </thead>
        <tbody>
        <% @proveedores.each do |prov| %>
        <tr id="proveedor_<%= prov.id %>" >
            <td class="align-middle text-center"><%= prov.rif_proveedor %></td>
            <td class="align-middle text-center"><%= prov.nombre_proveedor %></td>
            <td class="align-middle text-center"><%= prov.correo_proveedor %></td>
			<td class="align-middle text-center"><%= prov.descripcion_proveedor %></td>
            <td class="align-middle text-center" >
			<div class="btn-group ">
            <%= link_to "editar", edit_supplier_path(prov), html_options = {class: "btn btn-info btn-sm", remote: true} %>
            <%= link_to 'Borrar', prov, remote: true, method: :delete, data: { confirm: "Borrar proveedor: #{prov.nombre_proveedor}?"}, class: "btn btn-danger btn-sm" %>
			</div>
		   </td>
        </tr>
        <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
<%= render 'modal_proveedores' %>
