$('#modalProveedores').modal('toggle');
$('#proveedor_<%= @proveedor.id %>').replaceWith(
    '<tr id="proveedor_<%= @proveedor.id %>" ><td><%= @proveedor.rif_proveedor %></td><td><%= @proveedor.nombre_proveedor %></td></td><td><%= @proveedor.phonesuppliers.first.try(:numero_proveedor) %></td><td><%= link_to "Ver", supplier_path(@proveedor), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to 'Editar', edit_supplier_path(@proveedor), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @proveedor, remote: true, method: :delete, data: { confirm: "Borrar proveedor: #{@proveedor.nombre_proveedor}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);
$('#comienzoprov').before('<div id="si" class="alert alert-info alert-dismissible fade show" role="alert"><%= flash.now[:notice] = "Se ha actualizado el proveedor" %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');