<h1 class="h3 mb-2 text-gray-800">Ventas</h1>
<div class="d-flex pull-right range-query">
  <%= form_tag sales_path, method: :get, :class => 'd-flex flex-row bd-highlight' do %>
  <%= text_field_tag 'search[date_from]', @search.date_from, :class => 'form-control' %>
  <%= text_field_tag 'search[date_to]', @search.date_to, :class => 'form-control' %>
  <%= submit_tag 'Buscar', class: 'btn btn-info form-control'%>
  <%end%>
  </div>
<br />


<%= link_to new_sale_path, {class: "btn btn-info", id: "crear-venta-btn"}  do %>
    <span class="fas fa-plus-square"> </span>
    Realizar venta
    <%end%>
<br />
<br />
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="tabla_ventas" width="60%" cellspacing="0">
        <thead>
        <tr>
          <th>Id</th>
	  <th>Vendedor</th>
	  <th>Cliente</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
          <% if @ventas.empty? %>
          <tr> 
            <td> No hay ventas </td><td></td><td></td> 
          </tr>
          <% else %>
            <% @ventas.each do |venta| %>
              <tr> 
                <td> <%= venta.id %> </td>
		<td> <%= venta.user.username %> </td>
		<td> <%= venta.try(:client).try(:nombre_cliente) %> </td>
                <td> <%= venta.total_venta * 1.16%> </td>
                <td> 
                  <%= link_to 'Borrar', venta, method: :delete, data: { confirm: 'Eliminar la venta?' }, class: "btn btn-danger btn-xs" %>
		  <%= link_to 'Mostrar', sale_path(venta), {class: "btn btn-info btn-xs", remote: true} %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
<div>
<%= link_to "ventas del mes", ventas_del_mes_path, class: "btn btn-info btn-xs"%>
<%= link_to "ventas de la semana", ventas_de_semana_path, class: "btn btn-info btn-xs" %>
<%= link_to "pdf", sales_path(params.merge(format: "pdf")), class: "btn btn-info btn-xs" %>
</div>
<%= render 'modal_sales' %>
