<%= link_to new_sale_path, {class: "btn btn-info", id: "crear-venta-btn"}  do %>
    <span class="fas fa-plus-square"> </span>
    Realizar venta
<%end%>
<br />
<br />
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-striped" id="tabla_ventas" width="60%" cellspacing="0">
		<thead>
			<tr>
				<th class="align-middle text-center">Id</th>
				<th class="align-middle text-center">Vendedor</th>
				<th class="align-middle text-center">Cliente</th>
				<th class="align-middle text-center">Total</th>
				<th class="align-middle text-center"></th>
			</tr>
		</thead>
		<tbody>
		<% if @ventas.empty? %>
			<tr> 
				<td>No hay ventas</td>
				<td ></td>
				<td></td> 
			</tr>
		<% else %>
		<% @ventas.each do |venta| %>
			<tr> 
				<td class="align-middle text-center"> <%= venta.id %> </td>
				<td class="align-middle text-center"> <%= venta.user.username %> </td>
				<td class="align-middle text-center"> <%= venta.try(:client).try(:nombre_cliente) %> </td>
				<td class="align-middle text-center"> <%= venta.total_venta * 1.16%> </td>
				<td class="btn-group "> 
				<%= link_to 'Borrar', venta, method: :delete, data: { confirm: 'Eliminar la venta?' }, class: "btn btn-danger btn-sm" %>
				<%= link_to 'Mostrar', sale_path(venta), {class: "btn btn-info btn-sm", remote: true} %>
				</td>
			</tr>
			<% end %>
		<% end %>
		</tbody>
    </table>
    </div>
</div>
</div>
<%= render 'modal_sales' %>
