<h1 id="comienzolug" class="h3 mb-2 text-gray-800">Ubicaciones de almacen</h1>
<br />

<div class="row">
  <div class="col">
    <%= link_to new_location_path, {remote: true, class: "btn btn-info form-control", id: "anadir-lugar-btn"}  do %>
    <span class="fas fa-plus-square" ></span> Crear nueva ubicacion
    <% end %>
  </div>
  <div class="col">
    <%= search_form_for @q, options = {class: "w-100"} do |f| %>
    <%= f.search_field :nombre_lugar_cont, options = {class: "form-control", placeholder: "Buscar..."} %>
    <%= f.button :type => "submit", class: "btn btn-info form-control" do %>
    <span class="fas fa-search"></span> Buscar
    <% end %>
    <% end %>
  </div>
</div>
<br />

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table id="tablaLugares" class="table table-bordered" width="100%">
	<thead>
	  <tr>
	    <th>Nombre</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  <% @lugares.each do |lug| %>
	  <tr id="lugar_<%= lug.id %>" >
	    <td><%= lug.nombre_lugar %></td>
	    <td>
	      <%= link_to "Editar", edit_location_path(lug), html_options = {class: "btn btn-info btn-xs", remote: true} %>
	      <%= link_to 'Borrar', lug, remote: true, method: :delete, data: { confirm: "Borrar la ubicacion: #{lug.nombre_lugar}?"}, class: "btn btn-danger btn-xs" %>
	    </td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'modal_ubicacion' %>
