<!DOCTYPE html>
<html>
  <head>
    <title>Guaricherp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>   
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      body {
	  position: relative;
	  overflow-x: hidden;
	  background-color: #CFD8DC;}
      body,
      html { height: 100%;}
      .nav .open > a,
      .nav .open > a:hover,
      .nav .open > a:focus {background-color: transparent;}
      /*-------------------------------*/
      /*           Wrappers            */
      /*-------------------------------*/
      #wrapper {
	  padding-left: 0;
	  -webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	  transition: all 0.5s ease;}
      #wrapper.toggled {
	  padding-left: 220px;}
      #sidebar-wrapper {
	  z-index: 1000;
	  left: 220px;
	  width: 0;
	  height: 100%;
	  margin-left: -220px;
	  overflow-y: auto;
	  overflow-x: hidden;
	  background: #1a1a1a;
	  -webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	  transition: all 0.5s ease;}
      #sidebar-wrapper::-webkit-scrollbar {
	  display: none;}
      #wrapper.toggled #sidebar-wrapper {
	  width: 220px;}
      #page-content-wrapper {
	  width: 100%;
	  padding-top: 70px;}
      #wrapper.toggled #page-content-wrapper {
	  position: absolute;
	  margin-right: -220px;}
      /*-------------------------------*/
      /*     Sidebar nav styles        */
      /*-------------------------------*/
      .navbar {
	  padding: 0;}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
/*
.sidebar-nav li:nth-child a {
    color: #fff;
    background-color: #1a1a1a;
}
*/

.sidebar-nav li li:nth-of-type(5n+1):before {
    background-color: #6e6e6e;   
}
.sidebar-nav li li:nth-of-type(5n+2):before {
    background-color: #6e6e6e;   
}
.sidebar-nav li li:nth-of-type(5n+3):before {
    background-color: #6e6e6e;   
}
.sidebar-nav li li:nth-of-type(5n+4):before {
    background-color: #6e6e6e;   
}
.sidebar-nav li li:nth-of-type(5n+5):before {
    background-color: #6e6e6e;   
}

.sidebar-nav li:nth-child(5n+1):before {
    background-color: #7B72D9;
}
.sidebar-nav li:nth-child(5n+2):before {
    background-color: #7B72D9;
}
.sidebar-nav li:nth-child(5n+3):before {
    background-color: #ccc5c5;
}
.sidebar-nav li:nth-child(5n+4):before {
    background-color: #96bca4;   
}
.sidebar-nav li:nth-child(5n+5):before {
    background-color: #646e83;   
}
.sidebar-nav li:nth-child(5n+6):before {
    background-color: #608d98;   
}
.sidebar-nav li:nth-child(5n+7):before {
    background-color: #608d98;   
}
.sidebar-nav li:nth-child(5n+8):before {
    background-color: #d91443;   
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
    position: center;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.sidebar-brand {
    height: 65px;
    position: relative;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
   padding-top: 1em;
}
.sidebar-brand a {
    color: #ddd;
}
.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}
.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
.dropdown-menu.show {
    top: 0;
}
/*Fontawesome icons*/
.nav.sidebar-nav li a::before {
    font-family: fontawesome;
    content: '';
    position: absolute;
    vertical-align: baseline;
    display: inline-block;
    padding-right: 5px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

</style>
  </head>

  <div id="wrapper">
    <div class="overlay"></div>    
        <!-- Sidebar -->
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
     <ul class="nav sidebar-nav">
       <div class="sidebar-header">
       <div class="sidebar-brand">
         <a href="/"><%= image_tag("logo2.png", :class => "w-75 align-items-center") %></a></div></div>
       	      <% if current_user.role_id == 1 || current_user.role_id ==  2 || current_user.role_id == 5  %>
        <li id="submenu1" class="dropdown">
       <a href="#submenu1" class="dropdown-toggle" data-bs-toggle="dropdown" class="text-white nav-link align-middle"><i class="fas fa-warehouse"></i> <span class="ms-1 text">Inventario</span><span class="caret"></span></a>
     <ul class="dropdown-menu animated fadeInLeft" role="menu">
       <li><%= link_to products_path, class: "text-white nav-link align-middle" do %>
	 <i class="fas fa-boxes"></i> <span class="ms-1 text">Productos</span>
	 <% end %></li>
       <% if current_user.role_id == 1 || current_user.role_id ==  2 %>
       <li><%= link_to categories_path, class: "text-white nav-link align-middle" do %>
	 <i class="fas fa-tag"></i> <span class="ms-1 text">Categorias</span>
	 <% end %></li>
       <li> <%= link_to units_path, class: "text-white nav-link align-middle align-middle" do %>
	 <i class="fa fa-cube"></i> <span class="ms-1 text">Unidades</span>
	 <% end %></li>
       <li> <%= link_to locations_path, class: "text-white nav-link align-middle" do %>
	 <i class="fa fa-map-marker"></i> <span class="ms-1 text">Ubicaciones</span>
	 <% end %></li>
       <% end %>
     </ul>
	</li>
	<% end %>
	  <% if current_user.role_id == 1 || current_user.role_id ==  2 || current_user.role_id == 5  %>
	 <li id="submenu2" class="dropdown">
       <a href="#submenu2" class="dropdown-toggle"  data-bs-toggle="dropdown"><i class="fas fa-truck"></i> <span class="ms-1 text">Suministro</span> <span class="caret"></span></a>
     <ul class="dropdown-menu animated fadeInLeft" role="menu">
       <li><%= link_to purchases_path, class: "text-white nav-link align-middle" do %>
	 <i class="fa fa-shopping-basket"></i> <span class="ms-1 text">Compras</span>
	 <% end %></li>
       <% if current_user.role_id == 1 || current_user.role_id ==  2 %>
       <li> <%= link_to suppliers_path, class: "text-white nav-link align-middle" do %>
	 <i class="fas fa-handshake"></i> <span class="ms-1 text">Proveedores</span>
	 <% end %></li>
       <% end %>
      </ul>
	 </li>
	 <% end %>
	 
	 <% if current_user.role_id == 1 || current_user.role_id ==  2 || current_user.role_id == 4  %>
	  <li  id="submenu3" class="dropdown">
       <a href="#submenu3" class="dropdown-toggle"  data-bs-toggle="dropdown"> <i class="fas fa-shopping-cart"></i><span class="ms-1 text">Ventas</span> <span class="caret"></span></a>
     <ul class="dropdown-menu animated fadeInLeft" role="menu">
       <li><%= link_to sales_path, class: "text-white nav-link align-middle" do %>
	 <i class="fas fa-cart-plus"></i> <span class="ms-1 text">Facturas</span>
	 <% end %></li>
       	 <% if current_user.role_id == 1 || current_user.role_id ==  2 %>
       <li><%= link_to clients_path, class: "text-white nav-link align-middle" do %>
	 <i class="far fa-address-card"></i> <span class="ms-1 text">Clientes</span>
	 <% end %></li>
       <% end %>
      </ul>
	  </li>
	  <% end %>

	  <% if current_user.role_id == 1 || current_user.role_id ==  2 || current_user.role_id == 3  %>
	   <li id="submenu4" class="dropdown">
       <a href="#submenu4" class="dropdown-toggle"  data-bs-toggle="dropdown"><i class="far fa-clipboard"></i> <span class="ms-1 text">RRHH</span> <span class="caret"></span></a>
       <ul class="dropdown-menu animated fadeInLeft" role="menu">
	 <li><%= link_to paychecks_path, class: "text-white nav-link align-middle" do %>
	 <i class="fa fa-file-invoice"></i> <span class="ms-1 text">Nomina</span>
	 <% end %></li>
       <li><%= link_to employees_path, class: "text-white nav-link align-middle" do %>
	 <i class="fas fa-users"></i> <span class="ms-1 text">Empleados</span>
	 <% end %></li>
      </ul>
	   </li>
	   <% end %>
	   <% if current_user.role_id == 1 || current_user.role_id ==  2 %>
	    <li id="submenu5" class="dropdown">
       <a href="#submenu5" class="dropdown-toggle"  data-bs-toggle="dropdown"><i class="fa fa-cog"></i> <span class="ms-1 text">Configuracion</span> <span class="caret"></span></a>
     <ul class="dropdown-menu animated fadeInLeft" role="menu">
       <li><%= link_to companies_path, class: "text-white nav-link align-middle" do %>
	 <i class="fa fa-building"></i> <span class="ms-1 text">Empresa</span>
	 <% end %></li>
       <li><%= link_to type_payments_path, class: "text-white nav-link align-middle" do %>
	 <i class="fas fa-money-check"></i> <span class="ms-1 text">Metodos de pago</span>
	 <% end %></li>
       <li><%= link_to positions_path, class: "text-white nav-link align-middle" do %>
	 <i class="fa fa-th-list"></i> <span class="ms-1 text">Cargos</span>
	 <% end %></li>
      </ul>
	    </li>
	    <% end %>
       	      <% if current_user.role_id == 1 %>
	      <li><%= link_to rails_admin_path, class: "text-white nav-link align-middle" do %>
		<i class="fas fa-tools"></i> <span class="ms-1 text">Administracion</span>
		<% end %>
	      </li>
	      <% end %>
       <li id="menufin"><%= link_to destroy_user_session_path, method: :delete, class: "text-white nav-link align-middle" do %>
	 <i class="fas fa-power-off"></i> <span class="ms-1 text">Salir</span>
	 <% end %>
       </li>
      </ul>
  </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="row">
                  <div class="bg-light rounded-3 p-3" style="margin: auto">
		    <%= yield %>
		  </div>
		</div>
	    </div>
	</div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

<script>
  $(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
  });
  $(document).ready(function() {
      $("#notice_wrapper").delay(4000).slideUp(500, function () {$(this).remove();});
      });
</script>


  
  <% if false %>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
	<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
	  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
	    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
	      <span class="fw-bold text-center pe-4 fs-5 d-none d-sm-inline">GuarichERP</span>
	    </a>
	    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
	      <% if current_user.role_id == 1 || current_user.role_id ==  2 || current_user.role_id == 5  %>
	      <li>
		<a href="#submenu1" data-bs-toggle="collapse" class="text-white nav-link px-0 align-middle">
		  <i class="fas fa-warehouse"></i> <span class="ms-1 d-none d-sm-inline">Inventario</span></a>
		<ul class="collapse nav flex-column ms-1 small" id="submenu1" data-bs-parent="#menu">
		  <li>
		    <%= link_to products_path, class: "text-white nav-link px-2 align-middle" do %>
		    <i class="fas fa-boxes"></i> <span class="ms-1 d-none d-sm-inline">Productos</span>
		    <% end %>
		  </li>
		  <% if current_user.role_id == 1 || current_user.role_id ==  2 %>
		  <li>
		    <%= link_to categories_path, class: "text-white nav-link px-2 align-middle" do %>
		    <i class="fas fa-tag"></i> <span class="ms-1 d-none d-sm-inline">Categorias</span>
		    <% end %>
		  </li>
		  <li>
		    <%= link_to units_path, class: "text-white nav-link px-2 align-middle align-middle" do %>
		    <i class="fa fa-cube"></i> <span class="ms-1 d-none d-sm-inline">Unidades</span>
		    <% end %>
		  </li>
		  <li>
		    <%= link_to locations_path, class: "text-white nav-link px-2 align-middle" do %>
		    <i class="fa fa-map-marker"></i> <span class="ms-1 d-none d-sm-inline">Ubicaciones</span>
		    <% end %>
		  </li>
		  <% end %>
		</ul>
	      </li>
	      <% end %>

	      <% if current_user.role_id == 1 || current_user.role_id ==  2 || current_user.role_id == 5  %>
	      <li>
		<a href="#submenu2" data-bs-toggle="collapse" class="text-white nav-link px-0 align-middle">
		  <i class="fas fa-truck"></i> <span class="ms-1 d-none d-sm-inline">Suministro</span></a>
		<ul class="collapse nav flex-column ms-1 small" id="submenu2" data-bs-parent="#menu">
		  <li>
		    <%= link_to purchases_path, class: "text-white nav-link px-2 align-middle" do %>
		    <i class="fa fa-shopping-basket"></i> <span class="ms-1 d-none d-sm-inline">Compras</span>
		    <% end %>
		  </li>
		  <% if current_user.role_id == 1 || current_user.role_id ==  2 %>
		  <li>
		    <%= link_to suppliers_path, class: "text-white nav-link px-2 align-middle" do %>
		    <i class="fas fa-handshake"></i> <span class="ms-1 d-none d-sm-inline">Proveedores</span>
		    <% end %>
		  </li>
		  <% end %>
		</ul>
	      </li>
	      <% end %>

	      <% if current_user.role_id == 1 || current_user.role_id ==  2 || current_user.role_id == 4  %>
	      <li>
		<a href="#submenu3" data-bs-toggle="collapse" class="text-white nav-link px-0 align-middle">
		  <i class="fas fa-shopping-cart"></i><span class="ms-1 d-none d-sm-inline">Ventas</span> </a>
		<ul class="collapse nav flex-column ms-1 small" id="submenu3" data-bs-parent="#menu">
		  <li>
		    <%= link_to sales_path, class: "text-white nav-link px-2 align-middle" do %>
		    <i class="fas fa-cart-plus"></i> <span class="ms-1 d-none d-sm-inline">Facturas</span>
		    <% end %>
		  </li>
		  <li>
		    <%= link_to clients_path, class: "text-white nav-link px-2 align-middle" do %>
		    <i class="far fa-address-card"></i> <span class="ms-1 d-none d-sm-inline">Clientes</span>
		    <% end %>
		  </li>
		</ul>
	      </li>
	      <% end %>
	      
	      <% if current_user.role_id == 1 || current_user.role_id ==  2 || current_user.role_id == 3  %>
	      <li>
		<a href="#submenu4" data-bs-toggle="collapse" class="text-white nav-link px-0 align-middle">
		  <i class="far fa-clipboard"></i> <span class="ms-1 d-none d-sm-inline">RRHH</span> </a>
		<ul class="collapse nav flex-column ms-1 small" id="submenu4" data-bs-parent="#menu">
		  <li class="w-100">
		    <%= link_to employees_path, class: "text-white nav-link px-2 align-middle" do %>
		    <i class="fas fa-users"></i> <span class="ms-1 d-none d-sm-inline">Empleados</span>
		    <% end %>
		  </li>
		  <li>
		    <%= link_to paychecks_path, class: "text-white nav-link px-2 align-middle" do %>
		    <i class="far fa-edit"></i> <span class="ms-1 d-none d-sm-inline">Nomina</span>
		    <% end %>
		  </li>
		</ul>
	      </li>
	      <% end %>

	      <% if current_user.role_id == 1 || current_user.role_id ==  2 %>
	      <li>
		<a href="#submenu5" data-bs-toggle="collapse" class="text-white nav-link px-0 align-middle">
		  <i class="fa fa-cog"></i> <span class="ms-1 d-none d-sm-inline">Configuracion</span> </a>
		<ul class="collapse nav flex-column ms-1 small" id="submenu5" data-bs-parent="#menu">
		  <li>
		    <%= link_to companies_path, class: "text-white nav-link px-2 align-middle" do %>
		    <i class="fa fa-building"></i> <span class="ms-1 d-none d-sm-inline">Empresa</span>
		    <% end %>
		  </li>
		  <li>
		    <%= link_to type_payments_path, class: "text-white nav-link px-2 align-middle" do %>
		    <i class="fas fa-money-check"></i> <span class="ms-1 d-none d-sm-inline">Metodos de pago</span>
		    <% end %>
		  </li>
		  <li>
		    <%= link_to positions_path, class: "text-white nav-link px-2 align-middle" do %>
		    <i class="fa fa-th-list"></i> <span class="ms-1 d-none d-sm-inline">Cargos</span>
		    <% end %>
		  </li>
		</ul>
	      </li>
	      <% end %>
	      
	      <% if current_user.role_id == 1 %>
	      <li>
		<%= link_to rails_admin_path, class: "text-white nav-link px-0 align-middle" do %>
		<i class="fas fa-tools"></i> <span class="ms-1 d-none d-sm-inline">Administracion</span>
		<% end %>
	      </li>
	      <% end %>

	      <li>
		<%= link_to destroy_user_session_path, method: :delete, class: "text-white nav-link px-0 align-middle" do %>
		<i class="fas fa-power-off"></i> <span class="ms-1 d-none d-sm-inline">Salir</span>
		<% end %>
	      </li>
	    </ul>
	  </div>
	</div>
	<div class="col overflow-auto h-100">
	  <br >
	  <div class="bg-light border rounded-3 p-3">
	    <div>
	    <% if flash[:notice] %>
	    <div class="alert alert-info alert-dismissible fade show" role="alert">
	      <%= flash[:notice] %>
	      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	    </div>
	    <% elsif flash[:error] %>
	    <div class="alert alert-danger alert-dismissible fade show" role="alert">
	      <%= flash[:error] %>
	      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	    </div>
	    <% elsif flash[:success] %>
	    <div class="alert alert-success alert-dismissible fade show" role="alert">
	      <%= flash[:success] %>
	      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	    </div>
	    <% end %>
	    </div>
	    <%= yield %>
	  </div>
	</div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
	  setTimeout(function(){
	      $('#notice_wrapper').fadeOut("slow", function(){
		  $(this).remove();
	      });
	  }, 3500);
      });
    </script>
    <% end %>
    
  </body>
</html>
