<!DOCTYPE html>
<html>
  <head>
    <title>Guaricherp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="py-3 mb-4 border-bottom shadow  ">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div>
            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none">
                <h4>GuarichERP</h4><i class="bi bi-bootstrap fs-2 text-dark"></i>
            </a>
        </div>
		<div class="d-flex align-items-center ">
	  <%= form_tag( '/search' , options = {class: "w-75 "}) do %>
	  <%= text_field_tag("termino", value = nil, options = {class: "form-control", placeholder: "Buscar..."}) %>
	  <%end%>
		</div>
            <div class="dropdown show mt-2 pt-2 me-4 pe-4  position-absolute top-0 end-0">
                <a class="btn dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" arial-haspopup="tre">
                   <i class="fas fa-user-circle"></i>
                </a>
                <div class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" >
                    <a class="dropdown-item" href="#">Settings</a>
                    <hr class="dropdown-divider">
					<a><%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>	Salir</a>
					<% end %>
                </div>
            </div>

    </div>
    </header>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fas fa-warehouse"></i> <span class="ms-1 d-none d-sm-inline">Inventario</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                          <li class="w-100">
			    <%= link_to products_path, class: "nav-link px-0 align-middle" do %>	
                        <i class="fas fa-boxes"></i> <span class="ms-1 d-none d-sm-inline">Productos</span>
		      <% end %>
                            </li>
                            <li>
			    <%= link_to categories_path, class: "nav-link px-0 align-middle" do %>	
                            <i class="fas fa-tag"></i> <span class="ms-1 d-none d-sm-inline">Categorias</span>
			    <% end %>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fas fa-truck"></i> <span class="ms-1 d-none d-sm-inline">Suministro</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <%= link_to suppliers_path, class: "nav-link px-0 align-middle" do %>	
                            <i class="fas fa-handshake"></i> <span class="ms-1 d-none d-sm-inline">Proveedores</span>
			    <% end %>
                            </li>
                            <li>
			      <%= link_to purchases_path, class: "nav-link px-0 align-middle" do %>	
                            <i class="fas fa-money-check"></i> <span class="ms-1 d-none d-sm-inline">Compras</span>
			    <% end %>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fas fa-shopping-cart"></i><span class="ms-1 d-none d-sm-inline">Ventas</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                              <li class="w-100">
				<%= link_to sales_path, class: "nav-link px-0 align-middle" do %>	
                            <i class="fas fa-cart-plus"></i> <span class="ms-1 d-none d-sm-inline">Facturas</span>
			    <% end %>
                            </li>
                              <li>
				<%= link_to clients_path, class: "nav-link px-0 align-middle" do %>	
                            <i class="far fa-address-card"></i> <span class="ms-1 d-none d-sm-inline">Clientes</span>
			    <% end %>
                            </li>
                        </ul>
                    </li>
                    <li>
                      <%= link_to rails_admin_path, class: "nav-link px-0 align-middle" do %>	
                        <i class="fas fa-tools"></i> <span class="ms-1 d-none d-sm-inline">Administracion</span>
		      <% end %>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col overflow-auto h-100">
            <div class="bg-light border rounded-3 p-3">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
            </div>
    </div>
</div>

  </body>
</html>
