<!DOCTYPE html>
<html>
<head>
    <title>Guaricherp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body style="background:#ffe259; background:linear-gradient(to right,#ffa751, #ffe259)">
    <div class="container " >
        <div class="row" >
            <div class="col-md-4 offset-md-4 w-85 " >
                <div class=" aling-items-stretch bg-white mt-4 rounded mt-4 p-4" > <!aqui controlo la login entero>
                  <%= yield %>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>

